{% extends "site/base.twig" %}

{% set page_title = 'Informar Data Pagamento' %}

{% block head %}
<style>
    .divData {
        /*border: 1px solid #e0e0e0;*/
        /*height: 3.0em!important;*/
        /*background: #F5F5F5;*/
        /*line-height: 3.0em;*/
        /*margin-top: 15px;*/
        /*margin-bottom: 10px;*/

        box-sizing: border-box;width: 100%;height: 45px;margin: 10px 0;border: 1px solid #cecece;text-align: center;font-size: 20px; padding-top: 6px;
    }
</style>
{% endblock %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l4 offset-l2 left s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ {{ client.NomeConsumidor }}.</h2>
                    </div>
                </div>
                <div class="text-info">
                    <div class="row">
                        <div class="col l8 offset-l2 s10 offset-s1">
                            <p>Por favor, registre abaixo a data do pagamento realizado.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="text-align: center;">
                <div class="col s12 m12 l12 flow-text" id="select-date">&nbsp;</div>
            </div>

            <div class="row data-pagamento">

                <br /><br />

                <div class="col s10 offset-s1 col l4 offset-l4 center">

                    <div class="col s4">
                        <img src="img/arrow-up.svg" class="arrow up up-day">
                        <div id="day" class="divData"></div>
                        <img src="img/arrow-down.svg" class="arrow down down-day">
                    </div>

                    <div class="col s4">
                        <img src="img/arrow-up.svg" class="arrow up up-month">
                        <div id="month" class="divData"></div>
                        <img src="img/arrow-down.svg" class="arrow down down-month">
                    </div>

                    <div class="col s4">
                        <img src="img/arrow-up.svg" class="arrow up up-year">
                        <div id="year" class="divData"></div>
                        <img src="img/arrow-down.svg" class="arrow down down-year">
                    </div>

                </div>

                <br /><br />

            </div>

            <!--BUTTON-->
            <div class="row">
                <div class="col l8 offset-l2 s10 offset-s1 m12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back" id="send-date">CONFIRMAR DATA</div>
                <div class="col l8 offset-l2 s10 offset-s1 m12 btn-large waves-effect waves-light white black-text btn-back"
                     onclick="return goTo('/enter/menu')">VOLTAR</div>
            </div>
            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->

    <form id="config">
        <input type="hidden" name="contract" id="contract" value="{{ product.Contrato  }}" />
    </form>

{% endblock %}

{% block footer %}
    {{ parent() }}

    <script type="text/javascript" src="/js/app/util/Calendar.js"></script>
    <script type="text/javascript" src="/js/app/pay-info/date-confirm-v2.js"></script>

{% endblock %}