{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l10 offset-l2 s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ {{ client.NomeConsumidor }}.</h2>
                    </div>
                    <div class="col l10 offset-l2 s10 offset-s1">
                        <h6>Veja as opções disponíveis para você</h6>
                    </div>
                </div>
                <div class="text-info">
                    <div class="row">
                        <div class="col l3 offset-l2 s10 offset-s1">
                            <p>Número do contrato</p>
                        </div>
                        <div class="col l4">
                            <p>{{ product.Contrato }}</p>
                        </div>
                    </div>

                    {% for key_parcel, parcel in parcels %}

                        {% set loop_index_main = loop.index  %}

                        {% set exception = false %}

                        <div class="row espacamento">
                            <div class="tabela col l6 offset-l2 left s10 offset-s1 pull-down">

                                <table class="striped">

                                    <thead>
                                    <tr>
                                        <th>Fatura {{ loop_index_main }}/{{ parcels|length }}</th>
                                        <th>{{ parcel.Numero }}</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                        <tr>
                                            <td>Valor Original</td>
                                            <td>{{ parcel.Valor }}</td>
                                        </tr>

                                        {% if parcel.Valordesconto != 'R$ 0,00'  %}
                                        <tr>
                                            <td>Desconto</td>
                                            <td>{{ parcel.Valordesconto }}</td>
                                        </tr>
                                        {% endif %}

                                        <tr>
                                            <td>Valor Total</td>
                                            <td>{{ parcel.Valor_final_Format }}</td>
                                        </tr>

                                        <tr>
                                            <td>Data Vencimento Original</td>
                                            <td>{{ parcel.Datavencimentofatura }}</td>
                                        </tr>

                                        <tr id="bloco_data_venc_{{ loop_index_main }}" class="date-select" style="display:none">
                                            <td>Data Vencimento</td>
                                            <td id="data_venc_{{ loop_index_main }}"></td>
                                        </tr>

                                    </tbody>

                                </table>

                            </div>

                            {% if loop.index == 1 and blockPromo == false %}

                                <div class="button-table">
                                    <button data-target="desconto-modal" class="col l4 push-l1 s8 offset-s2 btn-large waves-effect waves-light purple darken-3 white-text btn-back modal-trigger">
                                        desconto promocional
                                    </button>
                                </div>

                            {% endif %}

                            <div class="tabela col l7 offset-l2 left s10 offset-s1">

                                <button rel="000000{{ loop_index_main }}" onclick="setIndexModel({{ loop_index_main }})" data-target="vencimento-modal-{{ loop_index_main }}"
                                        class="margin-r col l5 s10 offset-s1 btn-large waves-effect waves-light white black-text btn-back modal-trigger">
                                    escolher vencimento
                                </button>

                                <button id="gerar-{{ loop_index_main }}" disabled="true"
                                        class="btn-gerar-boleto margin-r col l5 s10 offset-s1 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                        onclick="return goToBol('/pay-info/view-boleto-campaign/{{ product.Contrato }}/{{ parcel.Id }}')">
                                    gerar Boleto
                                </button>

                            </div>

                        </div>

                        <!-- Modal Structure -->
                        <div id="vencimento-modal-{{ loop_index_main }}" class="modal white-modal black-text" >
                            <div class="modal-content">
                                <a href="javascript:;" id="model-date" class="close modal-action modal-close"><i class="material-icons">cancel</i></a>
                                <h6>Selecione a melhor data para o vencimento</h6>

                                {% for option in dates %}

                                    <p>
                                        <a href="#" onclick="return registerDate('{{ option }}', {{ loop.index }})">{{ option }}</a>
                                    </p>
                                {% endfor %}

                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>

            <!--BUTTON-->
            <div class="row">
                <a href="/" class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect white black-text"
                onclick="return goTo('/enter/options')">Voltar</a>
            </div>
            <!--FIM DO BUTTON-->

        </div>

        <!-- Modal Structure -->
        <div id="desconto-modal" class="modal purple-modal purple darken-3" >
            <div class="modal-content">
                <a href="javascript:;" class="close modal-action modal-close"><i class="material-icons">cancel</i></a>
                <h3>DESCONTO PROMOCIONAL</h3>
                <p>Pagamento à vista:</p>
                <p>{{ deal.Valor }}</p>

                <p>
                    <button class="margin-r col l5 s10 offset-s1 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                            onclick="goToDeal('/pay-info/confirm-deal-campaign/{{ product.Contrato }}/{{ dealId }}/{{ deal.Id }}')">
                        Gerar Boleto
                    </button>
                </p>

                <p><small>* Oferta por tempo limitado</small></p>
            </div>
        </div>

    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->


{% endblock %}

{% block footer %}
    {{ parent() }}

    <script>

        function PaymentOptions()
        {
            this.datePayment = '1'
            this.descDatePayment = $('#due_date').val()

            this.configure()
        }

        PaymentOptions.prototype.configure = function() {

            this.configureSelectNegotiate()
            this.configureSelectDate()

            var clazz = this

            var dateSel = $('#date_select').val();

            $('#block-screen').on('click', function(e) {
                e.preventDefault()

                $('#box-confirm-negotiate').hide()
                $('#block-screen').hide()
            })

            $('#confirm-negotiate').on('click', function(e) {
                var option = $('#negotiate-selected').val()
                var date = clazz.datePayment
            })

            $('#close-negotiate').on('click', function(e) {
                e.preventDefault()

                $('#box-confirm-negotiate').hide()
                $('#block-screen').hide()
            })
        }

        PaymentOptions.prototype.configureSelectDate = function() {

            var clazz = this

            $('a.select-date').on('click', function(e) {
                e.preventDefault()

                clazz.datePayment = $(this).attr('rel')
                clazz.descDatePayment = $(this).html()

                $('#date_select').val(clazz.datePayment)

                $('#due_date').html(clazz.descDatePayment)

                goToOption($('#contrato').val())
            })

            clazz.datePayment = $('a.select-date:first').attr('rel')
            clazz.descDatePayment = $('a.select-date:first').html()

            //$('#due_date').html(clazz.descDatePayment)
        }

        PaymentOptions.prototype.configureSelectNegotiate = function() {

            var clazz = this;

            $('.select-negotiate').on('click', function(e) {
                e.preventDefault()

                var index = $(this).attr('rel')
                $('#negotiate-selected').val(index)

                var desc  = ($('#desc-negotiate-' + index).html()).trim()

                var dateSelect = clazz.descDatePayment

                var box =  $('#box-confirm-negotiate')
                box.find('.date-negotiate').html("Vencimento para " + dateSelect)
                box.find('.desc-negotiate').html(desc)

                box.show()
                $('#block-screen').show()
            })
        }

        $(function() {
            window.payment = new PaymentOptions()
        })
    </script>


    <script type="text/javascript">

        var indexModal = 0
        var indexDate = 0;
        function setIndexModel(index)
        {
            indexModal = index
        }

        function registerDate(selectDate,indexDateSel)
        {
            indexDate = indexDateSel
            $('.date-select').hide()
            $('#bloco_data_venc_' +  + indexModal).show()
            $('#data_venc_' +  + indexModal).html(selectDate)

            $('#vencimento-modal-' + indexModal).modal('close');
            jQuery('#gerar-'+indexModal).prop('disabled', false)

            return false
        }

        function goToBol(url)
        {
            showLoading()
            window.location.href = url + '/' + indexDate
        }

        function goToDeal(url)
        {
            $('#desconto-modal').modal('close');
            goTo(url)
        }


        jQuery(document).ready(function() {

            Materialize.showStaggeredList('#staggered-test')
            Materialize.fadeInImage('#fade-1')
            $(".button-collapse").sideNav()

            jQuery('.modal').modal({
                dismissible: false,
                ready: function(modal, trigger) {
                    var modal_js = jQuery(modal)[0]
                    var button_js = jQuery(trigger)[0]
                    if (jQuery(modal_js).hasClass('white-modal')) {
                        jQuery('.btn-gerar-boleto').prop("disabled", true)
                        jQuery('input[type="radio"]').prop('checked', false)
                        jQuery('input[type="radio"]').attr('rel', jQuery(button_js).attr('rel'))
                    }
                }
            })

            jQuery('input[type="radio"]').on('click', function() {
                var contrato = jQuery(this).attr('rel')
                if (contrato) {
                    jQuery('#gerar-'+contrato).prop('disabled', false)
                }
            })
        })

    </script>

{% endblock %}
