{% extends "site/base.twig" %}

{% set page_title = 'E-mail Boleto' %}
{% block head %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <script>

        if (typeof ga !== 'undefined') {
            value = 0;
            if (typeof dataLayer !== 'undefined') {
                value = dataLayer[0].total_value_selected;
            }
            console.log(value);
            ga('send', 'event', 'pagamento', 'promessa', 'Boleto solicitado', value);
        }

    </script>


    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l4 offset-l2 left s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ {{ client.NomeConsumidor }},.</h2>
                    </div>
                </div>
                <div class="text-info">
                    <div class="row">
                        <div class="col l8 offset-l2 s10 offset-s1">
                            <p>
                                E-mail enviado. <br/>O tempo para recebimento é de aproximadamente 2 minutos.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--BUTTON-->
            <div class="row">
                <div class="col l3 offset-l2 s10 offset-s1 m12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                     onclick="goTo('/enter/options')">VOLTAR</div>
            </div>
            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->

    <iframe id="frame_js" src="blank.html" style="display:none;" frameborder="0"></iframe>

{% endblock %}

{% block footer %}
    {{ parent() }}
    <script>
        var contrato = '{{ product.Contrato  }}';
    </script>


{% endblock %}