{% extends "site/base.twig" %}

{% set page_title = 'Data de Pagamento Confirmada' %}


{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l4 offset-l2 left s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ {{ client.NomeConsumidor }},.</h2>
                    </div>
                </div>
                <div class="text-info">
                    <div class="row">
                        <div class="col l8 offset-l2 s10 offset-s1">
                            <p>
                                Registramos a informação em nosso sistema.
                                Foi um prazer atendê-lo, obrigado pela atenção.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--BUTTON-->
            <div class="row">
                <div class="col l3 offset-l2 s10 offset-s1 m12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                     onclick="goTo('/enter/menu')">VOLTAR</div>
            </div>
            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->


    <form id="config">
        <input type="hidden" name="cod_title" id="cod_title" value="" />
        <input type="hidden" name="total" id="total" value="" />
    </form>

{% endblock %}

{% block footer %}
    {{ parent() }}

    <script>
        if (typeof ga !== 'undefined') {
            value = 0;
            if (typeof dataLayer !== 'undefined') {
                value = $('#cod_title').val();
            }

            ga('send', 'event', 'pagamento', 'alega', 'Informado Pagamento', value);

            ga('require', 'ecommerce');

            ga('ecommerce:addTransaction', {
                'id': $('#cod_title').val(),  // Transaction ID. Required.
                'affiliation': 'NET',  // Affiliation or store name.
                'revenue': $('#total').val(), // Grand Total.
                'shipping': '1', // Shipping.
                'tax': '0',
                'currency': 'BRL'
            });

            ga('ecommerce:addItem', {
                'id': $('#cod_title').val(), // Transaction ID. Required.
                'name': 'Alega Pagamento',    // Product name. Required.
                'sku': '999',                 // SKU/code.
                'category': 'Pagamento',         // Category or variation.
                'price': $('#total').val(), // Unit price.
                'quantity': '1'                   // Quantity.
            });

            ga('ecommerce:send');
        }

    </script>

{% endblock %}