{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}
{% block head %}
    {{ parent() }}

{% endblock %}

{% block content %}


    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l10 offset-l2 s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ {{ client.NomeConsumidor }}.</h2>
                    </div>
                </div>
                <div class="text-info">
                    <div class="row">
                        <div class="col l10 offset-l2 s10 offset-s1">
                            <p>Seu(s) boleto(s) para o CPF / CNPJ {{ client.DocumentoConsumidor }}</p>
                        </div>
                    </div>

                    {% for index,boleto in boletos %}
                    <div class="row">
                        <div class="tabela col l4 offset-l2 left s10 offset-s1">
                            <table class="striped">
                                <thead>
                                <tr>
                                    <th>Boleto {{ loop.index }}/{{ boletos|length }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Vencimento</td>
                                    <td>{{ boleto.Vencimento }}</td>
                                </tr>
                                <tr>
                                    <td>Valor</td>
                                    <td>{{ boleto.Valor }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="button-table">
                            <div class="col l4 push-l1 s10 offset-s1 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                 onclick="window.location.href='/pay-info/view-boleto-select/{{ product.Contrato  }}/{{ index }}'"
                                 style="margin-top: -12px;">
                                Selecionar Boleto
                            </div>
                        </div>
                    </div>

                        <br/>
                    {% if loop.last == false %}
                    <div class="row">
                        <hr />
                    </div>
                    {% endif %}

                    {% endfor %}

                </div>
            </div>

            <br/>
            <!--BUTTON-->
            <div class="row">
                <div class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect waves-light white black-text btn-back" onclick="goTo('enter/menu')">VOLTAR</div>
            </div>
            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->


    <iframe src="/blank.html" id="iframe_print" width="1" height="1" style="display:none;"></iframe>

    <iframe id="frame_js" src="blank.html" style="display:none;" frameborder="0"></iframe>

    <form id="config">
        <input type="hidden" name="contrato" id="contrato" value="{{ deal.Contrato  }}" />
    </form>

{% endblock %}

{% block footer %}
    {{ parent() }}

    <script type="text/javascript" src="/js/vendor/clipboard.min.js"></script>

    <script>
        function validateEmail(email) {
            return true;
        }

        var clipboard = new Clipboard('.copy-button');

        var intervalFrame = null
        var flagEmail = false;
        var flagPhone = false;

        function showLoadingLink(href)
        {
            showLoading()
            $('#frame_js').attr('src', href)

            window.setTimeout(hideLoading, 4000)
            return false
        }

        validatePhone = function (phone) {

            phone = phone.trim()
            phone = phone.replace(" ", "")

            var phoneLength = phone.length

            var start = 2
            var validFirstNumberPhone = false
            if (phone.indexOf("(") == -1) {
                start = 2

                if (phoneLength == 11) {
                    validFirstNumberPhone = (phone.substr(start, 1) == 9)
                } else {
                    validFirstNumberPhone = (phone.substr(start, 1) >= 7)
                }
            } else {
                start = 5
                if (phoneLength == 15) {
                    validFirstNumberPhone = (phone.substr(start, 1) == 9)
                } else {
                    validFirstNumberPhone = (phone.substr(start, 1) >= 7)
                }
            }

            return  (validFirstNumberPhone && phoneLength >= 10 && phoneLength <= 11)
        }

        var currentTarget = '';
        var clickBtnBoleto = false;

        $(function(){

            $('.modal-button').on('click', function() {
                var target = $(this).attr('data-target');

                if(target == '#inform_email') {

                    if(flagEmail) {
                        $('#block-screen').show();
                        sendMail();
                        return true;
                    }

                    currentTarget = target;
                    $(target).show();
                    $('#block-screen').show();
                }

                if(target == '#inform_phone') {

                    if(flagPhone) {
                        $('#block-screen').show();
                        sendSms();
                        return true;
                    }

                    currentTarget = target;
                    $(target).show();
                    $('#block-screen').show();
                }
            });

            $('#block-screen').on('click', function(event) {
                $(currentTarget).hide();
                $('#block-screen').hide();
            });

            $('#send-email').on('click', function(e) {

                e.preventDefault();
                var email = $('#email').val();

                if(flagEmail) {
                    if(!validateEmail(email)) {
                        alert('Informe um e-mail válido!');
                        return false;
                    }

                    $('#inform_email').hide();

                    showLoading();

                    sendMail();
                    return true;
                }

                if(email == '' || !validateEmail(email)) {
                    alert('Informe um e-mail válido!');
                    return false;
                } else {
                    $('#inform_email').hide();

                    showLoading();

                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        data:{email:email},
                        url: '/pay-info/register-email/' + $('#contrato').val(),
                        success: function (data) {

                            if(data.status) {
                                sendMail();
                                return true;
                            }
                            hideLoading();

                            alert(data.message);
                        },
                        error: function (data, req) {
                            console.log(data);
                        }
                    });
                }

            });


        });

        function sendMail() {

            window.location.href= '/pay-info/return-send-email/' + $('#contrato').val();
        }

        $('#send-phone').on('click', function() {

            showLoading();

            var phone = $('#phone').val();
            if(!validatePhone(phone) ) {
                hideLoading();
                alert('Informe um telefone válido!');
                return false;
            } else {

                $('#inform_phone').hide();
                $('.container').hide();

                $('#loading').show();

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data:{phone:phone},
                    url: '/pay-info/register-phone/' + $('#contrato').val(),
                    success: function (data) {

                        if(data.status) {
                            sendSms();
                            return true;
                        }

                        hideLoading();

                        alert(data.message);
                    },
                    error: function (data, req) {
                    }
                });
            }
        });

        function  sendSms()
        {
            window.location.href= '/pay-info/return-send-sms/' + $('#contrato').val()
        }

        /******************************************************************************************/

        $('.btn-boletos').on('click', function() {
            var link = $(this).attr('rel');

            var conditionLink = (link != null && link != undefined && link == '/boleto/print');
            if(clickBtnBoleto) {
                return false;
            }
            clickBtnBoleto = true;
            if(conditionLink) {
                showLoading();

                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: link,
                    success: function (data) {

                        // Execute actions for boleto - email or print
                        if(data.status) {
                            window.location.href= '/pay-info/return-download';
                            return true;
                        }

                        hideLoading();
                        alert(data.message);
                    },
                    error: function (data, req) {
                    }
                });
            }
            else {
                if(flagEmail && link == '/boleto/email') {

                    $('#inform_email').hide();
                    $('.container').hide();

                    $('#loading').show();

                    sendMail();
                    return true;
                }

                if(flagPhone && link == '/pay-info/return-send-sms') {

                    $('#inform_sms').hide();
                    $('.container').hide();

                    $('#loading').show();

                    sendSms();
                    return true;
                }
            }
        });


    </script>

{% endblock %}