{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l10 offset-l2 s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ {{ client.NomeConsumidor }}.</h2>
                    </div>
                    <div class="col l10 offset-l2 s10 offset-s1">
                        <h6>Veja as opções disponíveis para você</h6>
                    </div>
                </div>
                <div class="text-info">
                    <div class="row">
                        <div class="col l3 offset-l2 s10 offset-s1">
                            <p>Número do contrato</p>
                        </div>
                        <div class="col l4">
                            <p>{{ product.Contrato }}</p>
                        </div>
                    </div>

                    <div class="row espacamento">
                        <div class="tabela col l6 offset-l2 left s10 offset-s1 pull-down">
                            <table class="striped">

                                <thead>
                                <tr>
                                    <th>Pagamento Parcelado</th>
                                    <th>Valor do débito</th>
                                </tr>
                                </thead>

                                <tbody>

                                <tr>
                                    <td>Valor atualizado</td>
                                    <td>{{ deal.valor_original }}</td>
                                </tr>

                                <tr>
                                    <td>Valor desconto</td>
                                    <td>{{ deal.desconto }}</td>
                                </tr>

                                <tr>
                                    <td>Valor à pagar</td>
                                    <td>{{ deal.valor_pagamento }}</td>
                                </tr>

                                <tr id="bloco_data_venc_1" class="date-select" style="display:none">
                                    <td>Data Vencimento</td>
                                    <td id="data_venc_1"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="tabela col l7 offset-l2 left s10 offset-s1">

                            <button rel="0000001" onclick="setIndexModel(1)" data-target="vencimento-modal-1"
                                    class="margin-r col l5 s10 offset-s1 btn-large waves-effect waves-light white black-text btn-back modal-trigger">
                                escolher vencimento
                            </button>

                            <button id="gerar-0000001" disabled="true"
                                    class="btn-gerar-boleto margin-r col l5 s10 offset-s1 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                    onclick="goTo('/pay-info/confirm-deal/{{ product.Contrato }}/{{ deal.deal_id }}')">
                                gerar Boleto
                            </button>

                        </div>

                    </div>

                    <!-- Modal Structure -->
                    <div id="vencimento-modal-1" class="modal white-modal black-text" >
                        <div class="modal-content">
                            <a href="javascript:;" class="close modal-action modal-close"><i class="material-icons">cancel</i></a>
                            <h6>Selecione a melhor data para o vencimento</h6>

                            {% for option in dates %}
                                <p>
                                    <input name="data_vencimento_1" type="radio" id="data_{{ loop.index }}"
                                           onclick="reloadDeal(1, {{ loop.index }}, {{ dealId }}, '{{ product.Contrato  }}', '{{ option }}')" />
                                    <label for="data_{{ loop.index }}">{{ option }}</label>
                                </p>
                            {% endfor %}

                        </div>
                    </div>

                </div>
            </div>

            <!--BUTTON-->
            <div class="row">
                <a href="/" class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect white black-text"
                   onclick="return goTo('/enter/options')">Voltar</a>
            </div>
            <!--FIM DO BUTTON-->

        </div>

    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->

{% endblock %}

{% block footer %}
    {{ parent() }}

    {#<script type="text/javascript" src="/js/app/enter/options.js"></script>#}

    <script>

        function goToOption(contrato)
        {
            showLoading()
            var dateSel = $('#date_select').val()
            window.location.href = '/pay-info/start-deal/' + contrato + '/' + dateSel
        }


        function PaymentOptions()
        {
            this.datePayment = '1'
            this.descDatePayment = $('#due_date').val()

            this.configure()
        }

        PaymentOptions.prototype.configure = function() {

            this.configureSelectNegotiate()
            this.configureSelectDate()

            var clazz = this

            var dateSel = $('#date_select').val();

            $('#block-screen').on('click', function(e) {
                e.preventDefault()

                $('#box-confirm-negotiate').hide()
                $('#block-screen').hide()
            })

            $('#confirm-negotiate').on('click', function(e) {
                var option = $('#negotiate-selected').val()
                var date = clazz.datePayment
            })

            $('#close-negotiate').on('click', function(e) {
                e.preventDefault()

                $('#box-confirm-negotiate').hide()
                $('#block-screen').hide()
            })
        }

        PaymentOptions.prototype.configureSelectDate = function() {

            var clazz = this

            $('a.select-date').on('click', function(e) {
                e.preventDefault()

                clazz.datePayment = $(this).attr('rel')
                clazz.descDatePayment = $(this).html()

                $('#date_select').val(clazz.datePayment)

                $('#due_date').html(clazz.descDatePayment)

                goToOption($('#contrato').val())
            })

            clazz.datePayment = $('a.select-date:first').attr('rel')
            clazz.descDatePayment = $('a.select-date:first').html()

            //$('#due_date').html(clazz.descDatePayment)
        }

        PaymentOptions.prototype.configureSelectNegotiate = function() {

            var clazz = this;

            $('.select-negotiate').on('click', function(e) {
                e.preventDefault()

                var index = $(this).attr('rel')
                $('#negotiate-selected').val(index)

                var desc  = ($('#desc-negotiate-' + index).html()).trim()

                var dateSelect = clazz.descDatePayment

                var box =  $('#box-confirm-negotiate')
                box.find('.date-negotiate').html("Vencimento para " + dateSelect)
                box.find('.desc-negotiate').html(desc)

                box.show()
                $('#block-screen').show()
            })
        }

        $(function() {
            window.payment = new PaymentOptions()
        })
    </script>


    <script type="text/javascript">

        var indexModal = 0
        function setIndexModel(index)
        {
            indexModal = index
        }

        function reloadDeal(dealOption, dateIndex, dealId, contract, selectDate)
        {
            $('.date-select').hide()
            $('#bloco_data_venc_' +  + indexModal).show()
            $('#data_venc_' +  + indexModal).html(selectDate)
            $('#vencimento-modal-' + indexModal).modal('close')
            showLoading()

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/pay-info/reload-deals",
                data: {deal_option: dealOption, date_index: dateIndex, deal_id: dealId, contract: contract},
                success: function (data) {

                    hideLoading()
                    //displayMessage(data)
                },
                error: function (data, req) {
                    console.log('Error:')
                    console.log(data)
                }
            })

            return true
        }

        jQuery(document).ready(function() {

            Materialize.showStaggeredList('#staggered-test')
            Materialize.fadeInImage('#fade-1')
            $(".button-collapse").sideNav()

            jQuery('.modal').modal({
                dismissible: false,
                ready: function(modal, trigger) {
                    var modal_js = jQuery(modal)[0]
                    var button_js = jQuery(trigger)[0]
                    if (jQuery(modal_js).hasClass('white-modal')) {
                        jQuery('.btn-gerar-boleto').prop("disabled", true)
                        jQuery('input[type="radio"]').prop('checked', false)
                        jQuery('input[type="radio"]').attr('rel', jQuery(button_js).attr('rel'))
                    }
                }
            })

            jQuery('input[type="radio"]').on('click', function() {
                var contrato = jQuery(this).attr('rel')
                if (contrato) {
                    jQuery('#gerar-'+contrato).prop('disabled', false)
                }
            })
        })

    </script>

{% endblock %}
