{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}
{% block head %}
    {{ parent() }}

    <style>
        .copy-button {
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: bold;
            cursor:pointer;
        }

        .copy-button:hover {
            background-color: #c9cccf;
        }

    </style>

{% endblock %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l10 offset-l2 s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ {{ client.NomeConsumidor }}.</h2>
                    </div>
                    <div class="col l10 offset-l2 s10 offset-s1">
                        <h6 class="nome-usuario">SEGUEM OS DADOS DO BOLETO PARA PAGAMENTO</h6>
                    </div>
                </div>
                <div class="text-info">
                    <div class="row">
                        <div class="col l3 offset-l2 s10 offset-s1">
                            <p>Número do contrato</p>
                        </div>
                        <div class="col l4">
                            <p>{{ product.Contrato }}</p>
                        </div>
                    </div>

                    <div class="row espacamento">

                        <div class="tabela col l6 offset-l2 left s10 offset-s1 pull-down">

                            <table>

                                <thead>
                                <tr>
                                    <th>{{ product.NomeCredor }}</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td><strong>Valor</strong></td>
                                    <td class="right-align">{{ boleto.valorPagar }} </td>
                                </tr>
                                <tr>
                                    <td><strong>Vencimento</strong></td>
                                    <td class="right-align">{{ boleto.Vencimento }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="row">

                        <div class="row">
                            <div class="tabela col l6 offset-l2 left s10 offset-s1 pull-down">
                                <p>Escolha uma das formas abaixo para obter seu boleto:</p>
                            </div>
                            <div class="row">
                                <div class="col l8 offset-l2 left s12">
                                    <div class="col l3 center-align s10 offset-s1 copy-btn">
                                        <button data-target="boleto-modal" class="modal-trigger yellow-box yellow accent-4 waves-effect waves-light">
                                            <img src="img/boleto.svg">
                                        </button>
                                        <small class="grey-text">Copiar boleto</small>
                                    </div>

                                    <div class="col l3 center-align s10 offset-s1 down-btn"
                                         onclick="goTo('/boleto/download-boleto-letter/{{ product.Contrato  }}')">
                                        <button class="yellow-box yellow accent-4 waves-effect waves-light">
                                            <img src="img/download.svg">
                                        </button>
                                        <small class="grey-text">Baixar boleto</small>
                                    </div>

                                    <div class="col l3 center-align s10 offset-s1 mail-btn">
                                        <button data-target="email-modal" class="modal-trigger yellow-box yellow accent-4 waves-effect waves-light">
                                            <img src="img/email.png">
                                        </button>
                                        <small class="grey-text">Enviar por E-mail</small>
                                    </div>
                                    <div class="col l3 center-align s10 offset-s1 sms-btn">

                                        <button data-target="telefone-modal" class="modal-trigger yellow-box yellow accent-4 waves-effect waves-light">
                                            <img src="img/chat.svg">
                                        </button>
                                        <small class="grey-text">Enviar por SMS</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>

            <!--BUTTON-->
            <div class="row">
                <a href="#" class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect white black-text"
                   onclick="return goTo('enter/menu')">Voltar</a>
            </div>
            <!--FIM DO BUTTON-->

        </div>

        <!-- Modal Structure -->
        <div id="email-modal" class="modal white-modal black-text" >
            <div class="modal-content">
                <a href="javascript:;" class="close modal-action modal-close"><i class="material-icons">cancel</i></a>
                <h6>Informe seu e-mail</h6>

                <form method="post">
                    <div class="col l12 m12 s12 input-field">
                        <input placeholder="seu e-mail"
                               name="email" id="email" value="{{ client.email }}" type="text" class="validate" />
                        <label for="email">E-mail</label>
                    </div>

                    <div class="row">
                        <button class="col l12 s12 offset-s1 btn-large waves-effect waves-light yellow accent-4 black-text btn-back" name="send-email"
                                id="send-email">
                            enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="telefone-modal" class="modal white-modal black-text" >
            <div class="modal-content">
                <a href="javascript:;" class="close modal-action modal-close"><i class="material-icons">cancel</i></a>
                <h6>Informe seu telefone</h6>

                <form>
                    <div class="col l12 m12 s12 input-field">
                        <input type="text" id="phone" value="{{ client.phone }}" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                        <label for="phone">DDD+Telefone</label>
                    </div>

                    <div class="row">
                        <button class="col l12 s12 offset-s1 btn-large waves-effect waves-light yellow accent-4 black-text btn-back" id="send-phone">
                            enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>


            <!-- Modal Structure -->
            <div id="boleto-modal" class="modal white-modal black-text">
                <div class="modal-content">

                    <a href="javascript:;" class="close modal-action modal-close"><i class="material-icons">cancel</i></a>

                    <h6>Copiar código do boleto</h6>

                    <div class="row">

                        <div class="col l12 m12 s12 copy-button" id="code">
                            <p class="center">{{ boleto.LinhaDigitavel  }}</p>
                        </div>

                        <div class="btn white black-text waves-light center btn-copy-pay col l12 s12 copy-button" data-clipboard-target="#code">Copiar Código de Barras</div>

                    </div>

                    <h6>Acesse seu banco:</h6>

                    <div class="row banks">

                        <div class="col s12">

                            <div class="col s4 center">
                                <img src="img/bancos/bb.png" style="width: 70px; cursor:pointer" onclick="window.open('http://www.bb.com.br/')">
                            </div>

                            <div class="col s4 center">
                                <img src="img/bancos/bradesco.png" style="width: 70px; cursor:pointer" onclick="window.open('https://www.bradesco.com.br')">
                            </div>

                            <div class="col s4 center">
                                <img src="img/bancos/caixa.png" style="width: 70px; cursor:pointer" onclick="window.open('http://www.caixa.gov.br/')">
                            </div>

                            <div class="col s6 center">
                                <img src="img/bancos/itau.png" style="width: 70px; cursor:pointer" onclick="window.open('https://www.itau.com.br/')">
                            </div>

                            <div class="col s6 center">
                                <img src="img/bancos/santander.png" style="width: 70px; cursor:pointer" onclick="window.open('https://www.santander.com.br/')">
                            </div>

                        </div>

                    </div>

                </div>
            </div>

    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->



    <iframe src="/blank.html" id="iframe_print" width="1" height="1" style="display:none;"></iframe>

    <iframe id="frame_js" src="blank.html" style="display:none;" frameborder="0"></iframe>

    <form id="config">
        <input type="hidden" name="contrato" id="contrato" value="{{ product.Contrato  }}" />
    </form>
{% endblock %}



{% block footer %}
    {{ parent() }}

    <script type="text/javascript" src="/js/vendor/jquery.mask.js"></script>
    <script type="text/javascript" src="/js/vendor/clipboard.min.js"></script>

    <script>
        var contrato = '{{ product.Contrato  }}';

        function validateEmail(email) {
            return true;
        }

        var clipboard = new Clipboard('.copy-button');

        var intervalFrame = null
        var flagEmail = false;
        var flagPhone = false;

        function showLoadingLink(href)
        {
            showLoading()
            $('#frame_js').attr('src', href)

            window.setTimeout(hideLoading, 4000)
            return false
        }

        validatePhone = function (phone) {

            phone = phone.trim()
            phone = phone.replace(" ", "")

            var phoneLength = phone.length

            var start = 2
            var validFirstNumberPhone = false
            if (phone.indexOf("(") == -1) {
                start = 2

                if (phoneLength == 11) {
                    validFirstNumberPhone = (phone.substr(start, 1) == 9)
                } else {
                    validFirstNumberPhone = (phone.substr(start, 1) >= 7)
                }
            } else {
                start = 5
                if (phoneLength == 15) {
                    validFirstNumberPhone = (phone.substr(start, 1) == 9)
                } else {
                    validFirstNumberPhone = (phone.substr(start, 1) >= 7)
                }
            }

            return  (validFirstNumberPhone && phoneLength >= 10 && phoneLength <= 11)
        }

        var currentTarget = '';
        var clickBtnBoleto = false;

        $(function(){

            $('.modal-button').on('click', function() {
                var target = $(this).attr('data-target');

                if(target == '#inform_email') {

                    if(flagEmail) {
                        $('#block-screen').show();
                        sendMail();
                        return true;
                    }

                    currentTarget = target;
                    $(target).show();
                    $('#block-screen').show();
                }

                if(target == '#inform_phone') {

                    if(flagPhone) {
                        $('#block-screen').show();
                        sendSms();
                        return true;
                    }

                    currentTarget = target;
                    $(target).show();
                    $('#block-screen').show();
                }
            });

            $('#block-screen').on('click', function(event) {
                $(currentTarget).hide();
                $('#block-screen').hide();
            });

            $('#send-email').on('click', function(e) {
                e.preventDefault();
                var email = $('#email').val();

                if(flagEmail) {
                    if(!validateEmail(email)) {
                        alert('Informe um e-mail válido!');
                        return false;
                    }

                    $('#email-modal').hide();
                    $('.modal-overlay').hide();

                    jQuery('.modal').modal('close');

                    showLoading();

                    sendMail();
                    return true;
                }

                if(email == '' || !validateEmail(email)) {
                    alert('Informe um e-mail válido!');
                    return false;
                } else {
                    $('#email-modal').hide();
                    $('.modal-overlay').hide();

                    showLoading();

                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        data:{email:email},
                        url: '/pay-info/register-email/' + $('#contrato').val(),
                        success: function (data) {

                            if(data.status) {
                                sendMail();
                                return true;
                            }
                            hideLoading();

                            alert(data.message);
                        },
                        error: function (data, req) {
                            console.log(data);
                        }
                    });
                }
            });
        });

        function sendMail() {

            var link = '/boleto/email-campaign/' + contrato;

            $.ajax({
                type: "GET",
                dataType: "json",
                url: link,
                success: function (data) {

                    if(data.status) {
                        window.location.href= '/pay-info/return-send-email-letter/' + contrato;
                        return true;
                    }

                    hideLoading();

                    alert(data.message);
                },
                error: function (data, req) {
                }
            });
        }

        $('#send-phone').on('click', function(e) {
            e.preventDefault()

            showLoading();

            var phone = $('#phone').val();
            var validPhone = false //validatePhone(phone)
            if(validPhone) {
                hideLoading();
                alert('Informe um telefone válido!');
                return false;
            } else {

                $('#telefone-modal').hide();
                $('.modal-overlay').hide();
                $('.container').hide();

                jQuery('.modal').modal('close');
                $('#loading').show();

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data:{phone:phone},
                    url: '/pay-info/register-phone/' + $('#contrato').val(),
                    success: function (data) {

                        if(data.status) {
                            sendSms();
                            return true;
                        }

                        hideLoading();

                        alert(data.message);
                    },
                    error: function (data, req) {
                    }
                });
            }
        });

        function  sendSms()
        {
            var link = '/boleto/sms-campaign/' + contrato

            $.ajax({
                type: "GET",
                dataType: "json",
                url: link,
                success: function (data) {

                    if(data.status) {
                        window.location.href= '/pay-info/return-send-sms-letter/' + contrato
                        return true;
                    }

                    $('#loading').hide()
                    $('.container').fadeIn()

                    alert(data.message)
                },
                error: function (data, req) {
                }
            });
        }

        /******************************************************************************************/

        $('.btn-boletos').on('click', function() {
            var link = $(this).attr('rel');

            var conditionLink = (link != null && link != undefined && link == '/boleto/print');
            if(clickBtnBoleto) {
                return false;
            }
            clickBtnBoleto = true;
            if(conditionLink) {
                showLoading();

                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: link,
                    success: function (data) {

                        // Execute actions for boleto - email or print
                        if(data.status) {
                            window.location.href= '/pay-info/return-download/' + contrato;
                            return true;
                        }

                        hideLoading();
                        alert(data.message);
                    },
                    error: function (data, req) {
                    }
                });
            }
            else {
                if(flagEmail && link == '/boleto/email') {

                    $('#inform_email').hide();
                    $('.container').hide();

                    $('#loading').show();

                    sendMail();
                    return true;
                }

                if(flagPhone && link == '/pay-info/return-send-sms') {

                    $('#telefone-modal').hide();
                    $('.modal-overlay').hide();

                    $('.container').hide();

                    $('#loading').show();

                    sendSms();
                    return true;
                }
            }
        });


    </script>

    <script type="text/javascript">
        jQuery(document).ready(function() {

            Materialize.showStaggeredList('#staggered-test');
            Materialize.fadeInImage('#fade-1');
            jQuery('.modal').modal({
                dismissible: false,
                ready: function(modal, trigger) {
                    var modal_js = jQuery(modal)[0];
                    var button_js = jQuery(trigger)[0];
                    if (jQuery(modal_js).hasClass('white-modal')) {
                        jQuery('.btn-gerar-boleto').prop("disabled", true);
                        jQuery('input[type="radio"]').prop('checked', false);
                        jQuery('input[type="radio"]').attr('rel', jQuery(button_js).attr('rel'));
                    }
                }
            });

            jQuery('input[type="radio"]').on('click', function() {
                var contrato = jQuery(this).attr('rel');
                if (contrato) {
                    jQuery('#gerar-'+contrato).prop('disabled', false);
                }
            });

//            var phone = $('#phone')
//            phone.val('')
//            var maskBehavior = function (val) {
//                        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009'
//                    },
//                    options = {onKeyPress: function(val, e, field, options) {
//                        field.mask(maskBehavior.apply({}, arguments), options)
//                    }
//            }
//            phone.mask(maskBehavior, options)

        });
    </script>

    <script type="text/javascript">
        // Initialize collapse button
        $(".button-collapse").sideNav();
    </script>


{% endblock %}