{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}
{% block head %}
    {{ parent() }}

    <style type="text/css">

        @media screen and (max-width: 1200px) {
            .responsive-modal {
                position: absolute;
                top: 45%;
                width: 80%;
                margin-left: 5%;
                margin-right: 5%;
                background: #FFF;
                display: none;
                z-index: 10000;
                height: auto;
                padding-bottom: 26px;
                border: 1px solid #CCC;
            }

            .responsive-modal  h4 {
                font-size: 24px !important;

                text-align: center;
            }

            .responsive-modal .form-control {
                border-radius: 0 !important;
                padding: 1%;
                height: 108px;
                margin-top: 25px;
                font-size: 50px;
            }
        }

        @media screen and (min-width: 1201px) {
            .responsive-modal {
                position: absolute;
                border: 1px solid #CCC;
                top: 30%;
                width: 42%;
                margin-left: 12%;
                margin-right: 10%;
                background: #FFF;
                display: none;
                z-index: 10000;
            }

            .responsive-modal  h4 {
                font-size: 36px;
                margin-left: 100px;
            }

            .responsive-modal .form-control {
                border-radius: 0 !important;
                padding: 1%;
                height: 56px;
                margin-top: 25px;
                font-size: 40px;
            }

            .responsive-modal .form-control-btn {
                border-radius: 0 !important;
                padding: 0%;
                height: 64px;
                margin-top: 25px;
                font-size: 42px;
            }
        }

    </style>

{% endblock %}

{% block content %}


    <div class="container margem">
        <!-- Page Content goes here -->
        <div class="row">
            <div class="col s12 col l8 offset-l2">
                <h4>Contrato {{ product.Contrato  }}</h4>
                <p>Segue informações sobre o boleto</p>
            </div>
        </div>

        {% for boleto in boletos %}
        <div class="row">
            <div class="col s12 col l8 offset-l2 z-depth-1 card-panel grey lighten-4" style="margin-top:1%;">

                <table class="contract col s12 col l8 offset-l2">

                    <thead>
                    <tr>
                        <th data-field="id" class="center-align">
                            <h4 class="contract-title" style="margin-top:12px;">Valor:</h4>
                        </th>
                        <th data-field="id" class="center-align">
                            <h4 class="contract-title" style="margin-top:12px;"><b>{{ boleto.Valor }}</b></h4>
                        </th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr>
                        <td class="tabela">Vencimento</td>
                        <td class="tabela text-right"><strong>{{ boleto.Vencimento }}</strong></td>
                    </tr>

                    <tr style="margin-top: 20px;"><td>Código de Barras</td></tr>
                    <tr>
                        <td colspan="2" class="detail" id="linha-digitavel">{{ boleto.LinhaDigitavel }}</td>
                    </tr>

                    </tbody>

                </table>
            </div>
        </div>
        {% endfor %}

        <div class="row">
            <div class="col s12 col l8 offset-l2">
                <a class="waves-effect waves-light btn copy-button" data-clipboard-target="#linha-digitavel">Copiar Código</a>
                <a href="/pay-info/return-download-boleto/{{ deal.Contrato  }}" class="waves-effect waves-light btn">Baixar Boleto</a>

                <button class="waves-effect waves-light btn modal-button" name="action1" id="btn-boleto-email"
                        rel="/boleto/email" data-target="#inform_email">E-MAIL</button>

                <button class="waves-effect waves-light btn modal-button" name="action2" id="btn-boleto-sms"
                        rel="/boleto/sms" data-target="#inform_phone">SMS</button>
            </div>

        </div>

        <div class="row">

            <div class="col s12 col l8 offset-l2">
                Para facilitar, copie seu código de barras e clique no link correspondente ao seu banco.
            </div>

            <div class="col s12 col l8 offset-l2">
                <a href="https://banco.bradesco" target="_blank" class="icone-banco"><img src="imagens/bancos/bradesco.png" alt="Bradesco"/></a>
                <a href="https://www.itau.com.br/" target="_blank" class="icone-banco"><img src="imagens/bancos/itau.png" alt="Itaú"/></a>
                <a href="http://www.bancobrasil.com.br/pbb/" target="_blank" class="icone-banco"><img src="imagens/bancos/bb.png" alt="Banco do Brasil"/></a>
                <a href="https://www.santander.com.br/br/" target="_blank" class="icone-banco "><img src="imagens/bancos/santander.png" alt="Santander"/></a>
                <a href="http://www.caixa.gov.br" target="_blank" class="icone-banco"><img src="imagens/bancos/caixa.png" alt="Caixa"/></a>
            </div>

        </div>

    </div> <!-- End Container -->

    <!-- Modal -->
    <div class="responsive-modal" id="inform_email" role="dialog">

        <div class="row">
            <div class="input-field col s12 m12 l12 text-center"><h4>Informe seu e-mail:</h4></div>
        </div>

        <form method="post">

            <div class="row">
                <div class="input-field col s1 m2 l2">&nbsp;</div>

                <div class="input-field col s10 m8 l8">
                    <input placeholder="seu e-mail"
                           name="email" id="email" value="{{ client.email }}" type="text" class="validate" />
                </div>

                <div class="input-field col s2 m4 l4">&nbsp;</div>
                <div class="input-field col s8 m4 l4">
                    <button class="waves-effect waves-light btn " type="button" name="send-email"
                            id="send-email">Enviar</button>
                </div>

            </div>

        </form>

    </div>

    <div class="responsive-modal" id="inform_phone" role="dialog">

        <div class="row">
            <div class="input-field col s12 m12 l12 text-center"><h4>Informe seu telefone:</h4></div>
        </div>

        <form method="post">

            <div class="row">
                <div class="input-field col s1 m2 l2">&nbsp;</div>
                <div class="input-field col s10 m8 l8">

                    <input name="phone" id="phone" value="{{ client.phone }}"
                           class="validate" pattern="[0-9]*" inputmode="numeric"
                           style="font-size: 2rem;" maxlength="20"
                           placeholder="DDD + telefone" />

                </div>
            </div>

            <div class="row">
                <div class="input-field col s1 m4 l4">&nbsp;</div>
                <div class="input-field col s10 m4 l4">
                    <button class="waves-effect waves-light btn " type="button" name="send-phone"
                            id="send-phone">Enviar</button>
                </div>
            </div>

        </form>

    </div>




    <iframe src="/blank.html" id="iframe_print" width="1" height="1" style="display:none;"></iframe>

    <iframe id="frame_js" src="blank.html" style="display:none;" frameborder="0"></iframe>

    <form id="config">
        <input type="hidden" name="contrato" id="contrato" value="{{ deal.Contrato  }}" />
    </form>
{% endblock %}

{% block footer %}
    {{ parent() }}

    <script type="text/javascript" src="/js/vendor/clipboard.min.js"></script>

    <script>
        function validateEmail(email) {
            return true;
        }

        var clipboard = new Clipboard('.copy-button');

        var intervalFrame = null
        var flagEmail = false;
        var flagPhone = false;

        function showLoadingLink(href)
        {
            showLoading()
            $('#frame_js').attr('src', href)

            window.setTimeout(hideLoading, 4000)
            return false
        }

        validatePhone = function (phone) {

            phone = phone.trim()
            phone = phone.replace(" ", "")

            var phoneLength = phone.length

            var start = 2
            var validFirstNumberPhone = false
            if (phone.indexOf("(") == -1) {
                start = 2

                if (phoneLength == 11) {
                    validFirstNumberPhone = (phone.substr(start, 1) == 9)
                } else {
                    validFirstNumberPhone = (phone.substr(start, 1) >= 7)
                }
            } else {
                start = 5
                if (phoneLength == 15) {
                    validFirstNumberPhone = (phone.substr(start, 1) == 9)
                } else {
                    validFirstNumberPhone = (phone.substr(start, 1) >= 7)
                }
            }

            return  (validFirstNumberPhone && phoneLength >= 10 && phoneLength <= 11)
        }

        var currentTarget = '';
        var clickBtnBoleto = false;

        $(function(){

            $('.modal-button').on('click', function() {
                var target = $(this).attr('data-target');

                if(target == '#inform_email') {

                    if(flagEmail) {
                        $('#block-screen').show();
                        sendMail();
                        return true;
                    }

                    currentTarget = target;
                    $(target).show();
                    $('#block-screen').show();
                }

                if(target == '#inform_phone') {

                    if(flagPhone) {
                        $('#block-screen').show();
                        sendSms();
                        return true;
                    }

                    currentTarget = target;
                    $(target).show();
                    $('#block-screen').show();
                }
            });

            $('#block-screen').on('click', function(event) {
                $(currentTarget).hide();
                $('#block-screen').hide();
            });

            $('#send-email').on('click', function(e) {

                e.preventDefault();
                var email = $('#email').val();

                if(flagEmail) {
                    if(!validateEmail(email)) {
                        alert('Informe um e-mail válido!');
                        return false;
                    }

                    $('#inform_email').hide();

                    showLoading();

                    sendMail();
                    return true;
                }

                if(email == '' || !validateEmail(email)) {
                    alert('Informe um e-mail válido!');
                    return false;
                } else {
                    $('#inform_email').hide();

                    showLoading();

                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        data:{email:email},
                        url: '/pay-info/register-email/' + $('#contrato').val(),
                        success: function (data) {

                            if(data.status) {
                                sendMail();
                                return true;
                            }
                            hideLoading();

                            alert(data.message);
                        },
                        error: function (data, req) {
                            console.log(data);
                        }
                    });
                }

            });


        });

        function sendMail() {

            window.location.href= '/pay-info/return-send-email/' + $('#contrato').val();
        }

        $('#send-phone').on('click', function() {

            showLoading();

            var phone = $('#phone').val();
            if(!validatePhone(phone) ) {
                hideLoading();
                alert('Informe um telefone válido!');
                return false;
            } else {

                $('#inform_phone').hide();
                $('.container').hide();

                $('#loading').show();

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data:{phone:phone},
                    url: '/pay-info/register-phone/' + $('#contrato').val(),
                    success: function (data) {

                        if(data.status) {
                            sendSms();
                            return true;
                        }

                        hideLoading();

                        alert(data.message);
                    },
                    error: function (data, req) {
                    }
                });
            }
        });

        function  sendSms()
        {
            window.location.href= '/pay-info/return-send-sms/' + $('#contrato').val()
        }

        /******************************************************************************************/

        $('.btn-boletos').on('click', function() {
            var link = $(this).attr('rel');

            var conditionLink = (link != null && link != undefined && link == '/boleto/print');
            if(clickBtnBoleto) {
                return false;
            }
            clickBtnBoleto = true;
            if(conditionLink) {
                showLoading();

                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: link,
                    success: function (data) {

                        // Execute actions for boleto - email or print
                        if(data.status) {
                            window.location.href= '/pay-info/return-download';
                            return true;
                        }

                        hideLoading();
                        alert(data.message);
                    },
                    error: function (data, req) {
                    }
                });
            }
            else {
                if(flagEmail && link == '/boleto/email') {

                    $('#inform_email').hide();
                    $('.container').hide();

                    $('#loading').show();

                    sendMail();
                    return true;
                }

                if(flagPhone && link == '/pay-info/return-send-sms') {

                    $('#inform_sms').hide();
                    $('.container').hide();

                    $('#loading').show();

                    sendSms();
                    return true;
                }
            }
        });


    </script>

{% endblock %}