<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Services">

    <title>OI Pague Fácil | Admin</title>
    <base href="/" />

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="imagens/icon-app-192.png" />
    <link rel="icon" sizes="128x128" href="imagens/icon-app-128.png" />
    <link rel="apple-touch-icon" sizes="128x128" href="imagens/icon-app-128.png" />
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="imagens/icon-app-128.png" />

    <link href="/imagens/icon-app-192.png" rel="shortcut icon" type="image/vnd.microsoft.icon">

    <link href="/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/assets/css/font-icons/entypo/css/entypo.css" media="screen" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic" media="screen" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/assets/css/neon-core.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/assets/css/neon-theme.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/assets/css/neon-forms.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/assets/css/custom.css" media="screen" rel="stylesheet" type="text/css">

    <link href="/css/chosen.min.css" media="screen" rel="stylesheet" type="text/css">

    {#<link href="/manager-files/js/chosen/chosen.css" media="screen" rel="stylesheet" type="text/css">#}
    <script type="text/javascript" src="/assets/js/jquery-1.11.0.min.js"></script>	<script>$.noConflict();</script>

    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        var prod  = {% if constant('PROD') %}true{% else %}false{% endif %};
    </script>

    {#{% include 'admin/tracking.twig' %}#}

    <style>
        .center { text-align: center;}

        .list-sub-checkboxes { margin-left: 5px;}
        .sub-checkboxes { margin-left: 30px; margin-top: 10px; margin-bottom: 10px;
            display: none;
        }

        .paging a
        {
            display:inline-block;
            padding:5px 10px;
            border:1px solid #cccccc;
            border-radius: 3px;
            margin-right:5px;
        }

        .paging a:hover
        {
            background-color:#428bca;
            color:#ffffff;
            text-decoration: none;
        }

        .paging
        {
            /*text-align:center;*/
        }

        .tile-stats { height: 136px}
        .tile-stats { text-align: center;}
        .tile-stats p { font-size:13px; font-weight: bold; height: 40px;}
        .tile-stats .num { font-size:28px; }

        .tile-stats.tile-neon-green {
            background: none repeat scroll 0 0 green;
        }

        .bloco-avaliacao hr { border:1px dotted #FFF; }

        .table-quantity {
            width: 100%; margin-bottom:10px;
        }

        .table-quantity td {
            color:#FFF; text-align: left;
        }

        .table-quantity .label-question {
            width: 92%; font-size: 11px;
        }

        .table-space { height:30px;}


        .not-found-result { text-align: center;font-size: 16px;font-weight: bold;
            padding-top: 20px; padding-bottom: 20px; }

        .options-top { float:right; margin-bottom: 20px;}

        .block-image {
            display:none;
        }

    </style>

    {% block head %}
    {% endblock %}

</head>
<body class="page-body page-fade-only" data-url="">

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <div class="sidebar-menu">

        <div class="sidebar-menu-inner">

            <header class="logo-env">

                <!-- logo -->
                <div class="logo">
                    <a href="/admin/home/">
                        <img src="imagens/icon-app-128.png" alt="" style="margin-left:20px;" />
                    </a>
                </div>

                <!-- logo collapse icon -->
                <div class="sidebar-collapse">
                    <a href="#" class="sidebar-collapse-icon">
                        <!-- add class "with-animation" if you want sidebar to have animation during
                        expanding/collapsing transition -->
                        <i class="entypo-menu"></i>
                    </a>
                </div>


                <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                <div class="sidebar-mobile-menu visible-xs">
                    <a href="#" class="with-animation"><!-- add class "with-animation" to
                                        support animation -->
                        <i class="entypo-menu"></i>
                    </a>
                </div>

            </header>

            <ul id="main-menu" class="main-menu multiple-expanded">

                <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                <!-- class "auto-inherit-active-class" will automatically add "active" class for parent
                        elements who are marked already with class "active" -->


                <li class="" id="attendance">
                    {#<a href="/{{ user.area }}/home">
                        <i class="entypo-monitor"></i>
                        <span class="title">Home</span>
                    </a>#}
                </li>

                <li class="" id="products">
                    <a href="/admin/home/">
                        <i class="entypo-chart-area"></i>
                        <span class="title">Medição API</span>
                    </a>
                </li>

                <li class="" id="logs">
                    <a href="/admin/logs">
                        <i class="entypo-menu"></i>
                        <span class="title">Logs API</span>
                    </a>
                </li>

                <li class="" id="logs">
                    <a href="/admin/execute">
                        <i class="entypo-play"></i>
                        <span class="title">Executar API</span>
                    </a>
                </li>

            </ul>

        </div>

    </div>

    <div class="main-content">

        <div class="row">

            <!-- Profile Info and Notifications -->
            <div class="col-md-6 col-sm-8 clearfix">

                <ul class="user-info pull-left pull-none-xsm">

                    <!-- Profile Info -->
                    <li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->

                       {# <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                            <img src="/images/icon-app-128.png"
                                 class="img-circle" width="44" />

                               #}{# {{ user.name }}#}{#

                        </a>#}

                        <ul class="dropdown-menu" style="display:none;">

                            <!-- Reverse Caret -->
                            <li class="caret"></li>

                            <!-- Profile sub-links -->
                            <li>
                                <a href="/manager/users/edit-account">
                                    <i class="entypo-user"></i>
                                    Editar Conta
                                </a>
                            </li>
                            <!--
                                <li>
                                        <a href="mailbox.html">
                                                <i class="entypo-mail"></i>
                                                Inbox
                                        </a>
                                </li>

                                <li>
                                        <a href="extra-calendar.html">
                                                <i class="entypo-calendar"></i>
                                                Calendar
                                        </a>
                                </li>

                                <li>
                                        <a href="#">
                                                <i class="entypo-clipboard"></i>
                                                Tasks
                                        </a>
                                </li>-->
                        </ul>
                    </li>

                </ul>

                <ul class="user-info pull-left pull-right-xs pull-none-xsm">

                    <!-- Raw Notifications -->
                    <li class="notifications dropdown" style="display:none;">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="entypo-attention"></i>
                            <span class="badge badge-info">6</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="top">
                                <p class="small">
                                    <a href="#" class="pull-right">Mark all Read</a>
                                    You have <strong>3</strong> new notifications.
                                </p>
                            </li>

                            <li>
                                <ul class="dropdown-menu-list scroller">
                                    <li class="unread notification-success">
                                        <a href="#">
                                            <i class="entypo-user-add pull-right"></i>

                                                                            <span class="line">
                                                                                    <strong>New user registered</strong>
                                                                            </span>

                                                                            <span class="line small">
                                                                                    30 seconds ago
                                                                            </span>
                                        </a>
                                    </li>

                                    <li class="unread notification-secondary">
                                        <a href="#">
                                            <i class="entypo-heart pull-right"></i>

                                                                            <span class="line">
                                                                                    <strong>Someone special liked this</strong>
                                                                            </span>

                                                                            <span class="line small">
                                                                                    2 minutes ago
                                                                            </span>
                                        </a>
                                    </li>

                                    <li class="notification-primary">
                                        <a href="#">
                                            <i class="entypo-user pull-right"></i>

                                                                            <span class="line">
                                                                                    <strong>Privacy settings have been changed</strong>
                                                                            </span>

                                                                            <span class="line small">
                                                                                    3 hours ago
                                                                            </span>
                                        </a>
                                    </li>

                                    <li class="notification-danger">
                                        <a href="#">
                                            <i class="entypo-cancel-circled pull-right"></i>

                                                                            <span class="line">
                                                                                    John cancelled the event
                                                                            </span>

                                                                            <span class="line small">
                                                                                    9 hours ago
                                                                            </span>
                                        </a>
                                    </li>

                                    <li class="notification-info">
                                        <a href="#">
                                            <i class="entypo-info pull-right"></i>

                                                                            <span class="line">
                                                                                    The server is status is stable
                                                                            </span>

                                                                            <span class="line small">
                                                                                    yesterday at 10:30am
                                                                            </span>
                                        </a>
                                    </li>

                                    <li class="notification-warning">
                                        <a href="#">
                                            <i class="entypo-rss pull-right"></i>

                                                                            <span class="line">
                                                                                    New comments waiting approval
                                                                            </span>

                                                                            <span class="line small">
                                                                                    last week
                                                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="external">
                                <a href="#">View all notifications</a>
                            </li>
                        </ul>

                    </li>

                </ul>

            </div>

            <!-- Raw Links -->
            <div class="col-md-6 col-sm-4 clearfix hidden-xs">

                <ul class="list-inline links-list pull-right">

                    <!-- Language Selector -->
                    <li class="dropdown language-selector" style="visibility: hidden;">

                        <ul class="dropdown-menu pull-right">

                            <li>
                                <a href="#">
                                    <img src="assets/images/flag-es.png" />
                                    <span>Español</span>
                                </a>
                            </li>

                        </ul>

                    </li>

                    <li class="sep"></li>

                    <li style="visibility: hidden;">
                        <a href="#" data-toggle="chat" data-collapse-sidebar="1">
                            <i class="entypo-chat"></i>
                            Chat
                            <span class="badge badge-success chat-notifications-badge is-hidden">0</span>
                        </a>
                    </li>

                    <li class="sep"></li>

                    <li>
                        {#<a href="/{{ user.area }}/logoff">
                            Sair <i class="entypo-logout right"></i>
                        </a>#}
                    </li>
                </ul>
            </div>

        </div>

        {% block content %}{% endblock %}

        <!-- Footer -->
        <footer class="main">
            &copy; {{ "now"|date("Y") }} <a href="" target="_blank"><strong>Services Cobranças</strong></a>
            <!-- <a href="http://laborator.co" target="_blank">Laborator</a>-->

        </footer>
    </div>

</div>

{% block footer %}


<!-- Imported styles on this page -->
<link rel="stylesheet" href="/assets/js/jvectormap/jquery-jvectormap-1.2.2.css">
<link rel="stylesheet" href="/assets/js/rickshaw/rickshaw.min.css">
<link rel="stylesheet" href="assets/js/daterangepicker/daterangepicker-bs3.css">

<script type="text/javascript" src="/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script type="text/javascript" src="/assets/js/neon-api.js"></script>
<script type="text/javascript" src="/assets/js/resizeable.js"></script>
<script type="text/javascript" src="/assets/js/joinable.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>

<script type="text/javascript" src="/assets/js/gsap/main-gsap.js"></script>


<script type="text/javascript" src="assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="js/vendor/chosen.jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/neon-demo.js"></script>
<script type="text/javascript" src="/assets/js/neon-custom.js"></script>

<script type="text/javascript" src="/assets/js/raphael-min.js"></script>
<script type="text/javascript" src="/assets/js/morris.min.js"></script>

<script type="text/javascript" src="/js/admin/base.js"></script>
{#<script type="text/javascript" src="/js/admin/list.js"></script>#}

<!-- Modal 1 (Basic)-->
<div class="modal fade" id="modal-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmar ação</h4>
            </div>

            <div class="modal-body">
                Hello I am a Modal!
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" id="confirm-delete" class="btn btn-danger">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script>

    function refreshPage()
    {
        window.location.reload();
    }


    function hideMessage()
    {
        jQuery('#box-message').fadeOut();
        jQuery('.alert-success').fadeOut();
    }

    function hideMessages() {
        jQuery('.alert').fadeOut();
    }

    var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
        '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
        jQuery(selector).chosen(config[selector]);
    }

    jQuery(function() {
        window.setTimeout(hideMessage, 10000);
    });

</script>

{% endblock %}

</body>
</html>