#block-screen {
    background: #FFF;
    width: 100%;
    height: 100%;
    z-index:999;
    opacity: 0.9;
    position: absolute;
    top:0;
    left:0;
    display:none;
}

#loading {
    margin: auto;
    position: fixed;
    top: 20%;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    z-index: 5000;
    display:none;
}

#send-loading {
    margin:auto;
    position:fixed;
    top:42%;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    padding-bottom:5px;
    text-align:center;
    z-index: 5000;
    display:none;
}

@media screen and (max-width: 1200px) {

    .responsive-modal-message {
        position: absolute;
        top: 21%;
        width: 80%;
        margin-left:10%;
        margin-right: 10%;
        background: #FFF;
        display:none;
        z-index:10000;
        height: auto;
        padding-bottom: 26px;
    }

    .responsive-modal-message  h2 {
        font-size: 28px;
        margin-top: 45px;
        font-weight: bold;
    }

    .responsive-modal-message p {
        font-size: 20px;
        margin: 10px;
        text-align: center;
    }

    .responsive-modal-message input {
        font-size: 16px;
        margin-top: 14px;
    }


    .responsive-modal {
        position: absolute;
        top: 21%;
        width: 80%;
        margin-left:10%;
        margin-right: 10%;
        background: #FFF;
        display:none;
        z-index:10000;
        height: auto;
        padding-bottom: 26px;
    }

    .responsive-modal  h2 {
        font-size: 28px;
        margin-top: 45px;
        font-weight: bold;
    }

    .responsive-modal p {
        font-size: 20px;
        margin: 10px;
        text-align: center;
    }

    .responsive-modal input {
        font-size: 16px;
        margin-top: 14px;
    }
}

@media screen and (min-width: 1201px) {

    .responsive-modal-message {
        position: absolute;
        top: 30%;
        width: 42%;
        margin-left: 28%;
        margin-right: 28%;
        padding-bottom: 18px;
        background: #FFF;
        display: none;
        z-index: 10000;
    }

    .responsive-modal-message h3 {
        font-size: 30px;
        margin-top: 25px;
    }

    .responsive-modal-message p {
        font-size: 24px;
        margin: 10px;
        text-align: center;
    }

    .responsive-modal-message input {
        font-size: 22px;
        margin-top: 20px;
    }



    .responsive-modal {
        position: absolute;
        top: 30%;
        width: 42%;
        margin-left: 28%;
        margin-right: 28%;
        padding-bottom: 18px;
        background: #FFF;
        display: none;
        z-index: 10000;
    }

    .responsive-modal h3 {
        font-size: 30px;
        margin-top: 25px;
    }

    .responsive-modal p {
        font-size: 24px;
        margin: 10px;
        text-align: center;
    }

    .responsive-modal input {
        font-size: 22px;
        margin-top: 20px;
    }
}