
body  { font-family: 'Roboto Condensed', sans-serif; text-align: center; color: #222; font-size: 10px;}

h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 24px 0 16px;
    color: #222;
}

td, th {
    padding: 2px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.select-block {
    cursor:pointer;
}

.red.accent-4 {
    background: -webkit-linear-gradient(135deg, #00CEFF 0, #00DD18 30%, #00DD18 70%, #FFFF00 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg, #00CEFF 0, #00DD18 30%, #00DD18 70%, #FFFF00 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg, #00CEFF 0, #00DD18 30%, #00DD18 70%, #FFFF00 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, #00CEFF 0, #00DD18 30%, #00DD18 70%, #FFFF00 100%); /* Standard syntax */
}

.container{
    color:#222;
}

.text-right {
    text-align: right;
}

#nav{
    margin:0 auto;
    width:100%;
}

#titulo{
    font-family: 'OfficinaSerifStd-Book', sans-serif;
    margin: 24px 0 16px;
    font-size: 2.2em;

    text-align:center;
    font-weight: normal!important;
    line-height: 1;
    letter-spacing: .02em;
    color: #222;
}

#title-enter {
    font-family: 'OfficinaSerifStd-Book', sans-serif;
    margin: 24px 0 16px;
    font-size: 19px;
    text-align:center;
    font-weight: normal!important;
    line-height: 1;
    letter-spacing: .02em;
    color: #222;
}

#subtitle-enter, #subtitle-options-enter {
    margin-top: 3%;
    margin-bottom: -18px;
    font-size: 14px;
    font-weight: 700;
    color: #222;
}

.subtitle {
    margin-top:3%;
    font-size: 20px;
    font-family: 'OfficinaSerifStd-Book', sans-serif;
    font-weight: 700;
    color: #222;
}

#select-date {
    font-size: 22px;
    font-family: 'OfficinaSerifStd-Book', sans-serif;
    text-align: center;
    color: #222;
    margin-top: 6px;
}

#font{
    font-size:16px;
}
.font{
    font-size:16px!important;
    text-align: left;
    font-family: 'OfficinaSerifStd-Book', sans-serif;
    font-weight: normal;
}



#cadastrar{
    background:#00DD18;
    width: 100%;
}

#btn-imprimir-boleto,
#btn-boleto-email,
#btn-boleto-sms,
#send-email, #send-phone {
    background:#00DD18;
    width: 100%;
}


#form-send{
    background:#00DD18;
    width: 100%;
}
#enviar{
    background:#00DD18;
    width: 100%;
}
#send-date{
    background:#00DD18;
    width: 100%;
}

#tituloPagamento{
    color: #222;
    font-size:1.5em;
    text-align:center;
    margin-top:3%;
}
#subtitulo{
    margin-top:3%;
    font-size: 1.17em;
    font-family: 'OfficinaSerifStd-Book', sans-serif;
    font-weight: 300;
    color: #222;
}

#subtitle-parcel {
    margin-top:3%;
    font-size: 19px;
    font-family: 'OfficinaSerifStd-Book', sans-serif;
    font-weight: 300;
    color: #222;
}


#message-page {
    margin-top: 34px;
    font-size: 21px;
    font-family: 'OfficinaSerifStd-Book', sans-serif;
    font-weight: 300;
    color: #222;
}
.subtitulo{
    font-size: 1.17em;
}
#logoSky{
    margin-top:0;
    text-align: center;
    width:100%;

}

#divTraco{
    margin-left: -1%!important;
    margin-right: -1%!important;
}
.tabela{
    padding:10px;
    font-family: 'OfficinaSerifStd-Book', sans-serif;
}
.contract{
    font-size:16px;

}
.confirmacao{
    background:#eeeeee;
    padding: 0.1em;
    text-align: center;
}
.modal{
    height: 250px;
}
.divData{
    border:1px solid #e0e0e0;
    height: 50px;
    background: #F5F5F5;
    line-height:3.0em;
}
.up{
    font-size: 1.8em;
}

.up img {
    width: 30px;
    margin-bottom: 6px;
}

.down{
    font-size: 1.8em;
}

.down img {
    width: 30px;
    margin-top: 8px;
}

.marginDate{
    margin-left: -0.1em!important;
}
.detail{
    font-size:12px;
    text-align:center;
    padding-bottom:20px;
    padding-top:10px;
}


#voltar{
    font-size: 1.5em;
    color:#616161;
}
.button-collapse{
    margin-left:1.0em;
}
.button-collapse:hover{
    color:#FFF;
    text-decoration: none;
}
.menu {
    color:#616161;
    text-align: left;
    text-decoration: none;
}

.menu:active {
    color:#616161;
    text-align: left;
    text-decoration: none;
}
.menu :link{
    color:#616161;
    text-align: left;
    text-decoration: none;
}
.menu :hover{
    color:#424242;
    text-align: left;
    text-decoration: none;
}
.menu :visited{
    color:#616161;
    text-align: left;
    text-decoration: none;
}
.menu :active{
    color:#616161;
    text-align: left;
    text-decoration: none;
}

.tituloMenu{
    color: #212121;
    font-size:1.5em;
    margin-left: 30px;
    margin-top: 10px;
}
#subFaixa{
    margin-top:10px; margin-left:20px;
}

/**
 * Enter Page
 */
.btn-large {
    height: 54px;
    line-height: 54px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px!important;
    font-weight: 700;
}

.contract-title {
    font-size: 20px;
}

.header-bar {
    background-color: #EEEEEE;
    padding: 15px 0;
    margin: 0;
    font-size: 16px;
}

.divData {
    border: 1px solid #e0e0e0;
    height: 3.0em!important;
    background: #F5F5F5;
    line-height: 3.0em;
    margin-top: 15px;
    margin-bottom: 10px;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .modal{
        height:300px;
    }
    .up{
        font-size: 34px;
    }
    .down{
        font-size: 34px;
    }
    .divData{
        border:1px solid #e0e0e0;
        height: 3.0em!important;
        background: #F5F5F5;
        line-height:3.0em;
    }
    #tituloPagamento{
        font-size:1.8em;
        text-align:center;
        margin-top:3%;
    }
    .confirmacao{
        background:#eeeeee;
        padding: 0;
        margin:0;
        text-align: center;
    }
    .voltar{
        text-align:right;
        margin-top:-3.5em!important;
    }
    #subFaixa {
        margin-top: -48px!important;
        margin-left: -379px;
        margin-bottom: 20px;
    }
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
    .modal{
        height:280px;
    }
    .up{
        font-size: 34px;
        padding-bottom: 10px;
    }
    .down{
        font-size: 34px;
        padding-top:6px;
    }
    .divData{
        border:1px solid #e0e0e0;
        height: 3.0em!important;
        background: #F5F5F5;
        line-height:3.0em;
        font-size: 18px;
        font-weight: bold;
        color: #222;
    }
    #tituloPagamento{
        font-size: 2em;
        text-align:center;
        margin-top:3%;
    }
}

/**
 *
 */
@media screen and (max-width : 600px) {
    #back {
        cursor: pointer;
        position: absolute;
        left: 0;
        margin-left: 15px;
        margin-top: -4px;
        font-size: 32px;
        font-weight: bold;
    }
}

@media screen and (min-width : 601px) {
    #back {
        cursor: pointer;
        position: absolute;
        left: 0;
        margin-left: 16px;
        font-weight: bold;
        font-size: 30px;
    }
}

input {
    font-family: "Helvetica","Arial",sans-serif;
    font-size:16px;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #222;
    font-size: 12px;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #00DD18;
    box-shadow: 0 1px 0 0 #00DD18;
    font-size: 16px;
}
.input-field input[type=email]:focus + label {
    color: #222;
    font-size: 12px;
}
/* label underline focus color */
.input-field input[type=email]:focus {
    border-bottom: 1px solid #00DD18;
    box-shadow: 0 1px 0 0 #00DD18;
    font-size: 16px;
}
/* valid color */
.input-field input[type=email].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=text]{
    font-size: 14px;
}
.input-field input[type=email]{
    font-size: 14px;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
    border-bottom: 1px solid #000;
    font-size: 12px;
}
.validate:focus{
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

input[type=number]:disabled{
    color:#000;
    -webkit-text-fill-color:#000; /* Override iOS / Android font color change */
    -webkit-opacity:1;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {-moz-appearance: textfield;}
::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}

.up-day, .down-day, .up-month, .down-month, .up-year, .down-year {  cursor:pointer; }