{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l4 offset-l2 left s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ{% if client.NomeConsumidor is defined %} {{ client.NomeConsumidor }}{% endif %}.</h2>
                    </div>
                </div>
                <div class="text-info">
                    <div class="row">
                        <div class="col l8 offset-l2 s10 offset-s1">
                            <p>Cadastre seu celular e entraremos em contato o mais breve possivel, ou ligue diretamente para o número
                                <strong>0800 643 1882</strong>  para falar com um dos nossos atendentes.</p>
                        </div>
                    </div>
                </div>

                <div class="info">
                    <div class="row">
                        <div class="col l6 offset-l2 s10 offset-s1">
                            <h6>Digite seu telefone</h6>
                        </div>
                    </div>

                    <form id="form-contact">
                        <input type="hidden" name="type" id="type" value="sms" />
                        <input type="hidden" name="channel" id="channel" value="{{ channel }}" />

                        <div class="row">
                            <form>
                                <div class="input-field col l6 offset-l2 s10 offset-s1  form-cpf">
                                    <input placeholder="seu telefone" pattern="\d*" maxlength="15"
                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                           value="{% if client.phone is defined %}{{ client.phone }}{% endif %}"
                                           name="phone" id="phone" type="text" class="validate" />
                                    <label for="cpf">Apenas números</label>
                                </div>
                            </form>
                        </div>
                    </form>

                </div>


            </div>

            <!--BUTTON-->
            <div class="botoes">
                <div class="row ordem">
                    <div class="col l3 offset-l2 left s10 offset-s1 m12 btn-large waves-effect waves-light white black-text btn-back" onclick="window.location.href='/contact'">VOLTAR</div>
                    <div class="col l3 s10 offset-s1 m12 btn-large waves-effect waves-light yellow accent-4 black-text" id="next-step">CONTINUAR</div>
                </div>
            </div>
            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->

{% endblock %}

{% block footer %}
    {{ parent() }}

    <script type="text/javascript" src="/js/app/contact/send-v1.js"></script>

{% endblock %}