{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

    <div class="row">
        <form id="send-step" class="col s12">
            <div class="row">
                <div class="col s12">
                    <h4>ATENDIMENTO VIA FACEBOOK</h4>
                    <p class="formulario"></p>
                </div>
                <br/><br/>
                 FACEBOOK

            </div>
        </form>
    </div>


{% endblock %}

{% block footer %}
    {{ parent() }}

{% endblock %}