{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">

                {% if client.NomeConsumidor is defined  %}
                <div class="row">
                    <div class="col l10 offset-l2 s10 offset-s1">

                        <h2 class="nome-usuario">OLÁ {{ client.NomeConsumidor }}.</h2>
                    </div>
                </div>
                {% endif %}

                <div class="text-info">

                    {% if client.DocumentoConsumidor is defined  %}

                    <div class="row">
                        <div class="col l10 offset-l2 s10 offset-s1">
                            <p>Seu(s) pagamento(s) para o CPF / CNPJ {{ client.DocumentoConsumidor }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col l12 s12">
                            <button class="btn-large waves-effect waves-light yellow accent-4 black-text botao"
                                    type="button" name="action" onclick="goTo('/contact/chat/4')" id="agendar">
                                <img src="img/chat.png"><p>Clique Aqui e Fale agora!</p></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s6 m6 l4">
                            <button class="btn-large waves-effect waves-light yellow accent-4 black-text botao" type="button"
                                    name="action" onclick="goTo('/contact/whatsapp/1')" id="agendar"><img src="img/whatsapp.png"><p>WhatsApp</p></button>
                        </div>
                        <div class="col s6 m6 l4">
                            <button class="btn-large waves-effect waves-light yellow accent-4 black-text botao" type="button"
                                    name="action" onclick="goTo('/contact/sms/2')" id="agendar"><img src="img/sms.png"><p>SMS</p></button>
                        </div>
                        <div class="col s6 m6 l4">
                            <button class="btn-large waves-effect waves-light yellow accent-4 black-text botao" type="button"
                                    name="action" onclick="goTo('/contact/facebook/7')" id="agendar"><img src="img/facebook.png"><p>Facebook</p></button>
                        </div>
                        <div class="col s6 m6 l4">
                            <button class="btn-large waves-effect waves-light yellow accent-4 black-text botao" type="button"
                                    name="action" onclick="goTo('/contact/telegram/6')" id="agendar"><img src="img/telegram.png"><p>Telegram</p></button>
                        </div>
                        <div class="col s6 m6 l4">
                            <button class="btn-large waves-effect waves-light yellow accent-4 black-text botao" type="button"
                                    name="action" onclick="goTo('/contact/ligacao/5')" id="agendar"><img src="img/ligacao.png"><p>Ligação</p></button>
                        </div>
                        <div class="col s6 m6 l4">
                            <button class="btn-large waves-effect waves-light yellow accent-4 black-text botao" type="button"
                                    name="action" onclick="goTo('/contact/email/3')" id="agendar"><img src="img/email.png"><p>E-mail</p></button>
                        </div>

                    </div>

                </div>
            </div>

            <!--BUTTON-->
            <div class="row">
                <div class="col l12 s10 offset-s1 m12 btn waves-effect waves-light white black-text btn-back" onclick="goTo('/')">VOLTAR
                </div>
            </div>
            <!--FIM DO BUTTON-->
            <div class="row">
                <div class="col l10 offset-l2 s10 offset-s1">
                    <p>Se preferir, entre em contato conosco por meio do 0800 336 8856</p>
                </div>
            </div>

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->


{% endblock %}

{% block footer %}
    {{ parent() }}

    {#<script type="text/javascript" src="/js/app/enter/options.js"></script>#}

{% endblock %}