{% extends "site/base.twig" %}

{% set page_title = 'SMS Boleto' %}
{% block head %}
    {{ parent() }}


{% endblock %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l4 offset-l2 left s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ{% if client.NomeConsumidor is defined %} {{ client.NomeConsumidor }}{% endif %}.</h2>
                    </div>
                </div>
                <div class="text-info">
                    <div class="row">
                        <div class="col l8 offset-l2 s10 offset-s1">
                            <p>Registramos a informação em nosso sistema. Foi um prazer atendê-lo. Obrigado pela atenção.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--BUTTON-->
            <div class="row">
                <div class="col l3 offset-l2 s10 offset-s1 m12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back" onclick="window.location.href='/contact'">VOLTAR</div>
            </div>
            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->


    <iframe id="frame_js" src="blank.html" style="display:none;" frameborder="0"></iframe>

{% endblock %}

{% block footer %}
    {{ parent() }}


{% endblock %}