@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);





#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #121c34;
}
#ext_menu-0 .mbr-navbar__section {
  background: #121c34;
}
#ext_menu-0 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
}
#msg-box3-8 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #121c34;
}
#msg-box3-8 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-8 .mbr-article P {
  text-align: center;
}
#msg-box3-10 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #ffffff;
}
#msg-box3-10 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-10 .mbr-article P {
  color: #ffffff;
  text-align: center;
}
#testimonials1-11 .mbr-section__header {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}
#testimonials1-11 .mbr-reviews__text P {
  color: #121c34;
}
#testimonials1-11 .mbr-reviews__author-name {
  color: #ffffff;
}
#form1-12 .mbr-header__text {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #121c34;
}
#contacts1-14 UL {
  color: #ffffff;
}
#contacts1-14 STRONG {
  color: #ffffff;
}
#contacts1-14 P {
  color: #ffffff;
}






#content5-20 .caption h3 {
  color: #fff;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
#content5-20 P {
  color: #fff;
  text-align: center;
  font-size: 17px;
}
#content5-20 DIV {
  color: #ffffff;
}
#msg-box3-11 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #121c34;
}
#msg-box3-11 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-11 .mbr-article P {
  text-align: center;
}
#msg-box3-11 .mbr-article {
  text-align: center;
}
#msg-box3-25 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #121c34;
}
#msg-box3-25 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-25 .mbr-article P {
  text-align: center;
}
#msg-box3-26 .mbr-header .mbr-header__text {
  text-align: center;
  color: #121c34;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
#msg-box3-26 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-26 .mbr-article P {
  text-align: center;
}
#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #121c34;
}
#ext_menu-10 .mbr-navbar__section {
  background: #121c34;
}
#ext_menu-10 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
}
#form1-14 .mbr-header__text {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #121c34;
}
#contacts1-16 UL {
  color: #ffffff;
}
#contacts1-16 STRONG {
  color: #ffffff;
}
#contacts1-16 P {
  color: #ffffff;
}


#content5-28 .caption h3 {
  color: #fff;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
#content5-28 P {
  color: #fff;
  text-align: center;
  font-size: 17px;
}
#content5-28 DIV {
  color: #ffffff;
}
#ext_menu-34 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-34.mbr-navbar--stuck .mbr-navbar__section {
  background: #121c34;
}
#ext_menu-34 .mbr-navbar__section {
  background: #121c34;
}
#ext_menu-34 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
}
#header3-58 H3 {
  color: #121c34;
  font-size: 30px;
}
#content1-59 P {
  font-size: 16px;
}
#header3-27 H3 {
  color: #28324e;
  font-size: 30px;
  text-align: left;
}
#contacts1-37 UL {
  color: #ffffff;
}
#contacts1-37 STRONG {
  color: #ffffff;
}
#contacts1-37 P {
  color: #ffffff;
}





#content5-28 .caption h3 {
  color: #fff;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
#content5-28 P {
  color: #fff;
  text-align: center;
  font-size: 17px;
}
#content5-28 DIV {
  color: #ffffff;
}
#msg-box3-30 .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #121c34;
}
#msg-box3-30 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-30 .mbr-article P {
  text-align: center;
}
#msg-box3-32 .mbr-header .mbr-header__text {
  text-align: center;
  color: #121c34;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
#msg-box3-32 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-32 .mbr-article P {
  text-align: center;
}
#msg-box3-48 .mbr-header .mbr-header__text {
  text-align: center;
  color: #28324e;
  font-size: 30px;
}
#msg-box3-48 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-48 .mbr-article P {
  text-align: center;
}
#ext_menu-34 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-34.mbr-navbar--stuck .mbr-navbar__section {
  background: #121c34;
}
#ext_menu-34 .mbr-navbar__section {
  background: #121c34;
}
#ext_menu-34 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
}
#form1-35 .mbr-header__text {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #121c34;
}
#contacts1-37 UL {
  color: #ffffff;
}
#contacts1-37 STRONG {
  color: #ffffff;
}
#contacts1-37 P {
  color: #ffffff;
}



#content5-50 .caption h3 {
  color: #fff;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
#content5-50 P {
  color: #fff;
  text-align: center;
  font-size: 17px;
}
#content5-50 DIV {
  color: #ffffff;
}
#content5-50 .caption h3 P {
  font-size: 30px;
}
#ext_menu-57 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-57.mbr-navbar--stuck .mbr-navbar__section {
  background: #121c34;
}
#ext_menu-57 .mbr-navbar__section {
  background: #121c34;
}
#ext_menu-57 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
}
#form1-58 .mbr-header__text {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: #121c34;
}
#contacts1-60 UL {
  color: #ffffff;
}
#contacts1-60 STRONG {
  color: #ffffff;
}
#contacts1-60 P {
  color: #ffffff;
}
