{% extends "admin/base.twig" %}

{% block title %} Index {% endblock %}
{% block head %}
    {{ parent() }}

    <style>
        .tile-stats {
            height: 196px;
        }
    </style>

{% endblock %}

{% block content %}

<script type="text/javascript">
    function getRandomInt(min, max)
    {
        return Math.floor(Math.random() * (max - min + 1)) + min
    }
    // Whats-Sms-Email Etc
</script>

    <div class="row">

        {#<div class="col-sm-3 col-xs-6">

            #}{#<div class="tile-stats tile-green">
                <div class="icon"><i class="entypo-chart-bar"></i></div>
                <div class="num" data-start="0" data-end="10" data-postfix="" data-duration="1500" data-delay="600">0</div>

                <h3>Tratado</h3>

                <table style="margin-top:10px;width: 100px; color:#FFF;">

                    <tr style="border-bottom:1px solid #FFF; padding-top: 2px">
                        <td style="text-align:left;">Whats</td>
                        <td style="text-align:right;">0</td>
                    </tr>

                    <tr style="border-bottom:1px solid #FFF; padding-top: 2px">
                        <td style="text-align:left;">Telegram</td>
                        <td style="text-align:right;">0</td>
                    </tr>

                    <tr style="border-bottom:1px solid #FFF; padding-top: 2px">
                        <td style="text-align:left;">SMS</td>
                        <td style="text-align:right;">0</td>
                    </tr>

                    <tr style="border-bottom:1px solid #FFF;padding-top: 2px">
                        <td style="text-align:left;">E-mail</td>
                        <td style="text-align:right;">0</td>
                    </tr>

                    <tr style="padding-top: 2px">
                        <td style="text-align:left;">Ligação</td>
                        <td style="text-align:right;">0</td>
                    </tr>

                </table>

            </div>#}{#

        </div>#}

        {#<div class="col-sm-3 col-xs-6">

            <div class="tile-stats tile-blue">
                <div class="icon"><i class="entypo-chat"></i></div>
                <div class="num" data-start="0" data-end="0" data-postfix="" data-duration="1500" data-delay="1800">0</div>

                <h3>Em Tratamento</h3>
            </div>

        </div>#}

        {#<div class="col-sm-3 col-xs-6">

            <div class="tile-stats tile-aqua">
                <div class="icon"><i class="entypo-mail"></i></div>
                <div class="num" data-start="0" data-end="0" data-postfix="" data-duration="1500" data-delay="1200">0</div>

                <h3>Retorno Agendamento</h3>

            </div>

        </div>#}

        {#<div class="col-sm-3 col-xs-6">

            <div class="tile-stats tile-red">
                <div class="icon"><i class="entypo-users"></i></div>
                <div class="num" data-start="0" data-end="0" data-postfix="" data-duration="1500" data-delay="0">0</div>

                <h3>Pendente</h3>


            </div>

        </div>#}

    </div>


    <div class="col-md-12">

        <div class="panel panel-primary" data-collapsed="0">

            <div class="panel-body">

                <form id="form-date" role="form" class="form-horizontal form-groups-bordered">
                    <input type="hidden" id="visao_selecionada" value="mensal">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <label for="metodo">Método</label>
                                <select id="metodo" class="form-control" name="metodo">
                                    {% for metodo in metodos %}
                                        <option value="{{ metodo.metodo }}">{{ metodo.metodo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <label for="visao">Visão</label>
                                <select id="visao" class="form-control" name="visao">
                                    <option value="mensal">Mensal</option>
                                    <option value="diario">Diário</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="input-group">
                                <label>Período</label>
                                <input type="text" name="data1" id="filter-date"
                                       class="form-control datepicker" placeholder="data inicial"
                                       data-format="mm/yyyy" data-start-view="2" data-date-min-view-mode="1" value="{{ data_padrao }}" />
                            </div>
                        </div>

                        <div class="col-sm-2 hide-xs hide-on-phones hide-on-tablets">
                            <div class="input-group">

                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit" id="filtrar" style="margin-top: 20px;">Filtrar</button>
								</span>

                            </div>
                        </div>
                    </div>

                </form>


            </div>

        </div>

    </div>


    <br/>

    {#<h4><a href="/admin/consultants/online">Consultores online: {{ onlineConsultants }}</a></h4>#}


    <div id="area" style="height: 300px"></div>

    <div class="paging">
    </div>
    <br/>

    <br>
    <br>

    <h3>Quantidade de requisições x falhas API por métodos no <span id="tempo_metodos"></span></h3>

    <div id="chart3"></div>

    <script>

        var urlBase   = '/manager/posts-manager'
        var parsBusca = ''
        var campos    = new Array('name')
        var executeReload = true

        function refreshPage() {
            window.location.reload()
        }

        function atualizarGrafico(data, visao, metodo) {

            if (!executeReload) {
                return;
            }

            executeReload = false
            jQuery.ajax({
                method: 'POST',
                url : '/admin/home/change-graph',
                data: {
                    data: data,
                    visao: visao,
                    metodo : metodo
                },
                success : function(result) {

                    executeReload = true

                    jQuery('#area').html('<i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>');
                    jQuery('#chart3').html('<i class="fa fa-refresh fa-spin fa-5x fa-fw"></i>');
                    jQuery('#tempo_metodos').html(result.tempo)
                    setTimeout(function() {
                        Morris.Area({
                            element: 'area',
                            data: result.grafico_tempo,
                            xkey: 'dia',
                            parseTime : false,
                            xLabelAngle: 45,
                            ykeys: ['media'],
                            labels: ['Duração:'],
                            hoverCallback: function(index, options, content) {
                                var visao = jQuery('#visao_selecionada').val();
                                if (visao == 'mensal') {
                                    var dia = options.data[index].dia;
                                    var duracao = options.data[index].duracao;
                                    var total_requisicos = options.data[index].contagem;
                                    var media = (parseInt(duracao)/parseInt(total_requisicos)).toFixed(2);
                                    media = isNaN(media) ? 0 : media;
                                    var resposta = "<div class='morris-hover-row-label'>Dia "+dia+"</div><div class='morris-hover-point' style='color: #0b62a4'>Teve uma demora de "+duracao+" segundos<br>Requisições: "+total_requisicos+"<br><strong>Média: "+media+" segundos/requisicao</strong></div>";
                                } else {
                                    var dia = options.data[index].dia;
                                    var duracao = options.data[index].duracao;
                                    var total_requisicos = options.data[index].contagem;
                                    var media = (parseInt(duracao)/parseInt(total_requisicos)).toFixed(2);
                                    media = isNaN(media) ? 0 : media;
                                    var resposta = "<div class='morris-hover-row-label'>Às "+dia+"</div><div class='morris-hover-point' style='color: #0b62a4'>Teve uma demora de "+duracao+" segundos<br>Requisições: "+total_requisicos+"<br><strong>Média: "+media+" segundos/requisicao</strong></div>";
                                }
                                return(resposta);
                            }
                        });

                        Morris.Bar({
                            element: 'chart3',
                            axes: true,
                            data : result.grafico_metodos,
                            xkey: 'metodo',
                            stacked: true,
                            ykeys: ['erros', 'requisicoes_subtotal'],
                            labels: ['Falha', 'Sucesso'],
                            xLabelAngle: 45,
                            barColors: ['#e60000', '#00b300'],
                            hoverCallback: function(index, options, content) {
                                var success = options.data[index].requisicoes_subtotal;
                                var errors = options.data[index].erros;
                                var total_requisicoes = options.data[index].requisicoes;
                                var metodo = options.data[index].metodo;

                                var content = "<div class='morris-hover-row-label'>"+metodo+"</div><div class='morris-hover-point' style='color: #000'>Requisições:"+total_requisicoes+"</div><div class='morris-hover-point' style='color: #e60000'>Falha:"+errors+"</div><div class='morris-hover-point' style='color: #00b300'>Sucesso:"+success+"</div>";
                                return content;
                            }
                        });

                    }, 300);
                }
            });
        }

       jQuery(document).ready(function() {

           atualizarGrafico('', 'mensal', jQuery('#metodo').find('option:selected').val());

           jQuery('[name="visao"]').on('change', function() {
               var visao = jQuery(this).find('option:selected').val();

               if (visao == 'diario') {
                   jQuery('#filter-date').attr('data-date-min-view-mode', '0');
                   jQuery('.datepicker').datepicker('remove');
                   setTimeout(function() {
                       jQuery('.datepicker').val("");
                       jQuery('.datepicker').datepicker({
                            minViewMode : 0,
                            startView: 0,
                            format: 'dd/mm/yyyy'
                        });
                   }, 200);
               } else {
                   jQuery('#filter-date').attr('data-date-min-view-mode', '1');
                   jQuery('.datepicker').datepicker('remove');
                   setTimeout(function() {
                       jQuery('.datepicker').val("");
                       jQuery('.datepicker').datepicker({
                           minViewMode : 1,
                           startView: 2,
                           format: 'mm/yyyy'
                       });
                   }, 200);
               }
           });

           jQuery('#form-date').on('submit', function(e) {
               e.preventDefault();
               var metodo = jQuery('#metodo').find('option:selected').val();
               var visao = jQuery("#visao").find('option:selected').val();
               var data = jQuery("#filter-date").val();

               jQuery('#visao_selecionada').val(visao);

               atualizarGrafico(data, visao, metodo);
           });



           setInterval(function() {
               var metodo_sel = jQuery('#metodo').find('option:selected').val();
               var periodo_sel = jQuery('#visao').find('option:selected').val();
               var data_sel = jQuery("#filter-date").val();
               atualizarGrafico(data_sel, periodo_sel, metodo_sel);
           }, 20000);
       });

    </script>


{% endblock %}


{% block footer %}
    {{ parent() }}

{% endblock %}
