
.h1, h1 {
    font-size: 16px;
    margin: 2px;
    font-family: 'OfficinaSerifStd-Book', sans-serif;
    color: #6e2a92;
}

.h2, h2 {
    font-size: 26px;
    font-family: 'OfficinaSerifStd-Book', sans-serif;
    color: #6e2a92;
}

p {
    text-align: justify;
    margin-bottom: 34px;
    font-family: 'OfficinaSerifStd-Book', sans-serif;
    color: #6e2a92;
    font-size: 21px;
    margin-left: 2px;
    margin-right: 2px;
}

a {
    font-weight: bold;
    font-family: 'OfficinaSerifStd-Book', sans-serif;
    color: #6e2a92;
}

img.content {
    display: block;
    margin-bottom: 28px;
    border: 1px solid #CCC;
}

.link-content {
    margin-bottom: 10px;
}

.others-pages {
    border-top:1px solid #CCC;
    padding-top: 10px;
}
