@font-face {font-family: 'OfficinaSerITCStd-ExtraBold'; src: url('fonts/OfficinaSerITCStd-ExtraBold.eot'); src: url('fonts/OfficinaSerITCStd-ExtraBold.eot?#iefix') format('embedded-opentype'), url('fonts/OfficinaSerITCStd-ExtraBold.woff2') format('woff2'), url('fonts/OfficinaSerITCStd-ExtraBold.woff') format('woff'), url('fonts/OfficinaSerITCStd-ExtraBold.ttf') format('truetype'), url('fonts/OfficinaSerITCStd-ExtraBold.svg#OfficinaSerITCStd-ExtraBold') format('svg'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'OfficinaSerifStd-Bold'; src: url('fonts/OfficinaSerifStd-Bold.eot'); src: url('fonts/OfficinaSerifStd-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/OfficinaSerifStd-Bold.woff2') format('woff2'), url('fonts/OfficinaSerifStd-Bold.woff') format('woff'), url('fonts/OfficinaSerifStd-Bold.ttf') format('truetype'), url('fonts/OfficinaSerifStd-Bold.svg#OfficinaSerifStd-Bold') format('svg'); font-weight: bold; font-style: normal; }
@font-face { font-family: 'OfficinaSerifStd-Book'; src: url('fonts/OfficinaSerifStd-Book.eot'); src: url('fonts/OfficinaSerifStd-Book.eot?#iefix') format('embedded-opentype'), url('fonts/OfficinaSerifStd-Book.woff2') format('woff2'), url('fonts/OfficinaSerifStd-Book.woff') format('woff'), url('fonts/OfficinaSerifStd-Book.ttf') format('truetype'), url('fonts/OfficinaSerifStd-Book.svg#OfficinaSerifStd-Book') format('svg'); font-weight: normal; font-style: normal; }

body  { font-family: 'OfficinaSerifStd-Book', sans-serif; color: #6e2a92;}

p{
  font-size: 18px;
}

.container {
  margin-top: 70px;
}

.card-panel p {
  margin: 0;
}

.botao {
  text-align: center;
  padding: 10px;
  min-height: 120px;
  width: 100%;
  text-transform: none;
  margin: 0.75rem 0;
}
.botao img {
  height: 64px;

}

.botao p{
  line-height:0;
  margin: 0 0 15px 0;
}

  /* label color */
   .input-field label {
     color: #6E2A92;
     font-size: 16px;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #6E2A92;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #6E2A92;
     box-shadow: 0 1px 0 0 #6E2A92;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #6E2A92;
     box-shadow: 0 1px 0 0 #6E2A92;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #6E2A92;
     box-shadow: 0 1px 0 0 #6E2A92;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #6E2A92;
   }
}

