{% extends "admin/base.twig" %}

{% set page_title = 'negocie com rapidez e segurança.' %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block content %}

    <ol class="breadcrumb bc-3" >
        <li>
            <a href="/admin/"><i class="fa-home"></i>Admin</a>
        </li>

        <li class="active">
            <a href="/admin/logs"><strong>Logs</strong></a>
        </li>
    </ol>

    <h2>Logs</h2>

    <form id="form-search" method="get">
        <table class="table table-bordered table-striped datatable" id="table-2">
            <thead>
            <tr>
                <th style="width: 250px;">Dados</th>
                <th style="width: 250px;">Parâmetros</th>
                <th>Retorno</th>
            </tr>
            <tr class="replace-inputs" role="row">

                <th rowspan="1" colspan="1">

                    <span class="filter_column filter_text">
                    <input type="text" value="" id="doc" name="doc"
                           class="text_filter search_init search-field" style="width: 150px;"></span>


                 {#<span class="filter_column filter_text">#}

                    {#<select name="nivel" id="nivel" class="form-control">#}

                        {#<option value=""> Todos </option>#}
                        {#{% for item in methods %}#}
                            {#<option value="{{ item.metodo }}"> {{ item.metodo }} </option>#}
                        {#{% endfor %}#}

                    {#</select>#}
                {#</span>#}

                </th>

                <th rowspan="1" colspan="1">&nbsp;</th>
                <th rowspan="1" colspan="1">&nbsp;</th>

            </tr>
            </thead>

            <tbody>

            {% for log in logs %}
                <tr>
                    <td class="centeralign">

                    <table>

                        <tr>
                            <td>Método:</td>
                            <td><strong>{{ log.metodo }}</strong></td>
                        </tr>

                        <tr>
                            <td>Entrada:</td>
                            <td><strong>{{ log.entrada }}</strong></td>
                        </tr>

                        <tr>
                            <td>Saída:</td>
                            <td><strong>{{ log.saida }}</strong></td>
                        </tr>

                    </table>

                    </td>
                    <td>
                        {{ log.parametros }}

                    </td>

                    <td>
                        {{ log.retorno }}

                    </td>

                </tr>
            {% endfor %}


            </tbody>

        </table>
    </form>

    <div class="paging">
    </div>

    <br/>

    <script>

        var urlBase   = '/manager/posts-manager'
        var parsBusca = ''
        var campos    = new Array('name')

        jQuery(function () {
            jQuery('.btn-danger').click(function() {
                var hrefDelete  = jQuery(this).attr('href')
                var textConfirm = jQuery(this).attr('rel')

                jQuery('.modal-body').html(textConfirm)
                jQuery('#confirm-delete').click(function () {
                    window.location.href = hrefDelete
                })

                jQuery('#modal-1').modal('show')
                return false
            })


            jQuery( "#doc" ).on( "keyup", function(e) {
                if(e.which == 13) {
                    var doc = jQuery('#doc').val()
                    window.location.href = '/admin/logs/?doc=' + doc;
                }
            })


        })


    </script>

{% endblock %}


{% block footer %}
    {{ parent() }}

{% endblock %}