.container{
    width:1000px;
    max-width:1000px;
}
.divPrincipal{
    border:1px solid #CCC;
    padding:0;
    margin:0;
    font-size: 12px;
    font-family: "Arial";
}
.linhaBottom{
    border-bottom:1px solid black;
}
.tdNumeros{
    border-left:1px solid black;
    border-right:1px solid black;
    font-weight: bold;
    font-size:18px;
    text-align:center;
}
.tdNumeroMaior{
    font-size:18px;
    text-align:right;
}
.bordaRight{
    border-right:1px solid black;
}
.fundoTd{
    background:#bdbdbd  ;
}
#info{
    padding-left:49%;

}
#apos{
    padding-left:35%;
}
.bordaX{
    background-image: url('../imagem/xx.png');
    background-position: right;
    background-repeat: no-repeat;
}
.dadosRight{
    text-align:right;
    margin:0;
    padding:0;
}
.mensagem{
    font-size: 16px;
    font-weight: bold;
    background-color: #EEE;
    padding:5px;
}