{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l10 offset-l2 s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ {{ client.NomeConsumidor }}.</h2>
                    </div>
                </div>

                <div class="text-info">

                    <div class="row">
                        <div class="col l11 offset-l2 s10 offset-s1">
                            <p>Encontramos o(s) seguintes debito(s) para o CPF / CNPJ {{ client.DocumentoConsumidor }}</p>
                        </div>
                    </div>

                    <div class="row">

                        {% for product in products  %}

                            {% if loop.index % 2 == 0 %}
                                <div class="col l11 m11 s12 offset-l1 espacamento">
                            {% else %}
                                <div class="col l11 m11 s12 offset-l1 grey lighten-4 espacamento">
                            {% endif %}
                                <div class="tabela col l1 left s12">
                                    <strong class="pull-up">{{ product.NomeCredor }}</strong>
                                </div>

                                <div class="tabela col l7 m7 left s12">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th width="40%">Número contrato</th>
                                            <th width="40%">Valor do débito</th>
                                            <th width="20%"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ product.Contrato }}</td>
                                            <td>{{ product.ValorContractFormat }}</td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="button-table col l4 m4 s12 pull-up">
                                    <ul class="collapsible">
                                        <li>
                                            <div class="collapsible-header">DETALHES DOS SEUS PRODUTOS</div>
                                            <div class="collapsible-body white">
                                                <div class="row">
                                                    <div class="col l8 m12">
                                                        <strong>Valor do débito</strong>
                                                    </div>
                                                    <div class="col l4 m12">
                                                        <strong>{{ product.ValorContractFormat }}</strong>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col m12 l12 s12">
                                                        <span>RESUMO DAS FATURAS</span>
                                                    </div>
                                                </div>

                                                <div class="row">

                                                    {% for parcel in product.Parcelas  %}
                                                    <div class="col m8 l8 s6 left-align">
                                                        <span>{{ parcel.RefDate }}</span>
                                                    </div>

                                                    <div class="col m4 l4 s6 right-align">
                                                        <span>{{ parcel.Valor }}</span>
                                                    </div>
                                                    {% endfor %}

                                                </div>

                                            </div>
                                        </li>
                                    </ul>


                                    {% if product.isInvoicesDeal and product.isExceptionLetter %}

                                    <div class="col l12 s12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                         onclick="return goTo('/pay-info/invoices-letter/{{ product.Contrato }}')">
                                        Negociar Fatura(s)
                                    </div>

                                    {% elseif product.isInvoicesDeal and product.isExceptionWallet %}

                                    <div class="col l12 s12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                         onclick="return goTo('/pay-info/start-deal/{{ product.Contrato }}/1')">
                                        Quitação / Parcelamento
                                    </div>

                                    <div class="col l12 s12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                         onclick="return goTo('/pay-info/invoices/{{ product.Contrato }}')">
                                        Negociar Fatura(s)

                                    </div>

                                    {% elseif product.isExceptionDeal %}

                                        <div class="col l12 s12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                             onclick="return goTo('/pay-info/invoices/{{ product.Contrato }}')">
                                            Negociar Fatura(s)

                                        </div>

                                    {% elseif product.IsCampaign and product.isInvoicesDeal %}

                                        <div class="col l12 s12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                             onclick="return goTo('/pay-info/start-deal/{{ product.Contrato }}/1')">
                                            Quitação
                                        </div>

                                        <div class="col l12 s12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                             onclick="return goTo('/pay-info/deal-invoices/{{ product.Contrato }}')">
                                            Negociar Fatura(s)

                                        </div>

                                    {% elseif product.IsCampaign %}

                                        <div class="col l12 s12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                             onclick="return goTo('/pay-info/start-deal/{{ product.Contrato }}/1')">
                                            Quitação
                                        </div>

                                        <div class="col l12 s12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                             onclick="return goTo('/pay-info/deal-invoices/{{ product.Contrato }}')">
                                            Negociar Fatura(s)
                                        </div>

                                    {% elseif product.isInvoicesDeal and product.Aux|length > 1 %}

                                        <div class="col l12 s12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                             onclick="return goTo('/pay-info/start-deal/{{ product.Contrato }}/1')">
                                            Quitação
                                        </div>

                                        <div class="col l12 s12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                             onclick="return goTo('/pay-info/invoices/{{ product.Contrato }}')">
                                            Negociar Fatura(s)
                                        </div>

                                    {% else %}

                                        <div class="col l12 s12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                             onclick="return goTo('/pay-info/start-deal/{{ product.Contrato }}/1')">
                                            Quitar Dívida
                                        </div>

                                    {% endif %}

                                </div>

                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>

            <!--BUTTON-->
            <div class="row">
                <a href="#" class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect white black-text" onclick="return goTo('/enter/menu')">Voltar</a>
            </div>
            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->



{% endblock %}

{% block footer %}
    {{ parent() }}

    {#<script type="text/javascript" src="/js/app/enter/options.js"></script>#}

{% endblock %}