{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">

                <div class="row">
                    <div class="col l10 offset-l2 s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ {{ client.NomeConsumidor }}.</h2>
                    </div>
                </div>

                <div class="text-info">
                    <div class="row">
                        <div class="col l10 offset-l2 s10 offset-s1">
                            <p>Seu(s) pagamento(s) para o CPF / CNPJ {{ client.DocumentoConsumidor }}</p>
                        </div>
                    </div>

                    {% for product in products  %}
                    <div class="row">
                        <div class="tabela col l4 offset-l2 left s10 offset-s1">
                            <table class="striped">
                                <thead>
                                <tr>
                                    <th>{{ product.NomeCredor }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Número do Contrato</td>
                                    <td>{{ product.Contrato }}</td>
                                </tr>
                                <tr>
                                    <td>Valor do débito</td>
                                    <td>{{ product.ValorContractFormat }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="button-table">
                            <div class="col l4 push-l1 s10 offset-s1 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                 onclick="return goTo('/pay-info/confirm-date/{{ product.Contrato }}')">
                                Selecionar Contrato
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

            <!--BUTTON-->
            <div class="row">
                <div class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect waves-light white black-text btn-back"
                     onclick="return goTo('/enter/menu')">VOLTAR</div>
            </div>
            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->

{% endblock %}

{% block footer %}
    {{ parent() }}

    {#<script type="text/javascript" src="/js/app/enter/options.js"></script>#}

{% endblock %}