{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l4 offset-l2 left s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ {{ client.NomeConsumidor }}.</h2>
                    </div>
                </div>
                <div class="text-info">
                    <div class="row">
                        <div class="col l8 offset-l2 s10 offset-s1">
                            <p>Selecione uma das opções abaixo para seguir com o atendimento.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--BUTTON-->
            <div class="botoes">
                <div class="row">
                    <a href="#" class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect yellow accent-4 black-text"
                       onclick="return goTo('/enter/options')">Visualizar Débitos</a>
                </div>
                <div class="row">
                    <a href="#" class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect yellow accent-4 black-text"
                       onclick="return goTo('/enter/view-deals')">Visualizar Negociação</a>
                </div>
                <div class="row">
                    <a href="#" class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect yellow accent-4 black-text"
                       onclick="return goTo('/enter/inform-payment')">Informar Pagamento</a>
                </div>
                <div class="row">
                    <a href="#" class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect yellow accent-4 black-text"
                       onclick="return goTo('/enter/info')">Atualizar seus Dados</a>
                </div>
                <div class="row">
                    <a href="#" class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect yellow accent-4 black-text"
                       onclick="return goTo('/contact')">Atendimento</a>
                </div>
                <div class="row">
                    <a href="#" class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect white black-text"
                       onclick="return goTo('/atualizacao-concluida')">Voltar</a>
                </div>
            </div>

            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->

{% endblock %}

{% block footer %}
    {{ parent() }}

    {#<script type="text/javascript" src="/js/app/enter/options.js"></script>#}

{% endblock %}