{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

    <style>
        .card-panel {
            cursor:pointer;
        }
        .contract h4 {
            margin-top: 18px;

        }
        .contract-title {
            margin-top:100px;
        }
        .text-right {
            text-align: right;
        }
        .tabela {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .detail {
            width: 200px;
            padding-bottom: 13px;
        }
    </style>

    <div class="container margem">

        <!-- Page Content goes here -->
        <div class="row">
            <div class="col s12 m12 l8 offset-l2">
                <h4>Olá {{ client.NomeConsumidor }},</h4>
                <p>Sua(s) fatura(s) em aberto para o contrato {{ product.Contrato }}</p>
            </div>
        </div>

        <div class="row"><br />
            <div class="input-field col s3 m3 l4 hide-on-small-only">&nbsp;</div>
            <div class="col s12 m6 l4">
                <a class="waves-effect waves-light btn" id="next-step"
                   onclick="return goTo('/pay-info/start-deal/{{ product.Contrato }}/1')">NEGOCIAR PAGAMENTO</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l8 offset-l2">
                {% for parcel in product.Parcelas  %}

                    <div class="col s12 m12 z-depth-1 card-panel grey lighten-4" style="margin-top:1%;cursor:pointer;"
                         >

                        <table class="contract">

                            <thead>
                            <tr>
                                <th data-field="id" colspan="2" class="center-align">
                                    <h4 class="contract-title">Nº {{ parcel.Numero }}</h4></th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr>
                                <td class="tabela">Vencimento</td>
                                <td class="tabela text-right"><strong> {{ parcel.Vencimento }}</strong></td>
                            </tr>

                            <tr>
                                <td class="tabela">Valor do débito:</td>
                                <td class="tabela text-right"><strong>{{ parcel.Valor }}</strong></td>
                            </tr>

                            </tbody>

                        </table>
                    </div>
                {% endfor %}
            </div>
         </div>


    </div> <!-- End Container -->

{% endblock %}

{% block footer %}
    {{ parent() }}

    {#<script type="text/javascript" src="/js/app/enter/options.js"></script>#}

{% endblock %}