{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l4 offset-l2 left s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ {{ client.NomeConsumidor }},.</h2>
                    </div>
                </div>

                <div class="text-info">
                    <div class="row">
                        <div class="col l8 offset-l2 s10 offset-s1">
                            <p>Obrigado por atualizar seu cadastro.</p>
                        </div>
                    </div>
                </div>

            </div>

            <!--BUTTON-->
            <div class="row">
                <div class="col l3 offset-l2 s10 offset-s1 m12 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                     onclick="goTo('/enter/menu')">VOLTAR</div>
            </div>
            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->


{% endblock %}

{% block footer %}
    {{ parent() }}

    {#<script type="text/javascript" src="/js/app/enter/options.js"></script>#}

{% endblock %}