{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l10 offset-l2 s10 offset-s1">
                        <h2 class="nome-usuario">OLÁ {{ client.NomeConsumidor }}.</h2>
                    </div>
                </div>
                <div class="text-info">
                    <div class="row">
                        <div class="col l10 offset-l2 s10 offset-s1">
                            <p>Seu(s) pagamento(s) para o CPF / CNPJ {{ client.DocumentoConsumidor }}</p>
                        </div>
                    </div>

                    {% if deals|length == 0 %}
                        <div class="text-info">
                            <div class="row">
                                <div class="col l8 offset-l2 s10 offset-s1">
                                    <p>Sem acordos no momento.</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}


                    {% for deal in deals  %}
                    <div class="row">
                        <div class="tabela col l4 offset-l2 left s10 offset-s1">
                            <table class="striped">
                                <thead>
                                <tr>
                                    <th>{{ deal.NomeCredor }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Número do Contrato</td>
                                    <td>{{ deal.Contrato }}</td>
                                </tr>
                                <tr>
                                    <td>Resumo</td>
                                    <td>{{ deal.Resumo }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="button-table">
                            <div class="col l4 push-l1 s10 offset-s1 btn-large waves-effect waves-light yellow accent-4 black-text btn-back"
                                 onclick="return goTo('/pay-info/select-boletos-acordos/{{ deal.Contrato }}')">
                                Reimprimir Boleto(s)
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

            {% if deals|length > 0 %}
            <div class="row">
                <div class="col l6 offset-l2 s6 0ffset-s2 pagamento">
                    <p><strong> *Pagamento realizado via boleto bancário</strong></p>
                </div>
            </div>
            {% endif %}

            <!--BUTTON-->
            <div class="row">
                <a href="#" class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect white black-text"
                   onclick="return goTo('/enter/menu')">Voltar</a>
            </div>
            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->

{% endblock %}

{% block footer %}
    {{ parent() }}

    {#<script type="text/javascript" src="/js/app/enter/options.js"></script>#}

{% endblock %}