@font-face {
  font-family: oiTitle;
  src: url(../fonts/simplon/simplonoi-headline-webfont.eot);
  src: url(../fonts/simplon/simplonoi-headline-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/simplon/simplonoi-headline-webfont.woff) format("woff"), url(../fonts/simplon/simplonoi-headline-webfont.ttf) format("truetype"), url(../fonts/simplon/simplonoi-headline-webfont.svg#simplon_oiheadline) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: oiTextRegular;
  src: url(../fonts/simplon/simplonbp-regular-webfont.eot);
  src: url(../fonts/simplon/simplonbp-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/simplon/simplonbp-regular-webfont.woff) format("woff"), url(../fonts/simplon/simplonbp-regular-webfont.ttf) format("truetype"), url(../fonts/simplon/simplonbp-regular-webfont.svg#simplon_bpregular) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: oiTextMedium;
  src: url(../fonts/simplon/simplonbp-medium-webfont.eot);
  src: url(../fonts/simplon/simplonbp-medium-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/simplon/simplonbp-medium-webfont.woff) format("woff"), url(../fonts/simplon/simplonbp-medium-webfont.ttf) format("truetype"), url(../fonts/simplon/simplonbp-medium-webfont.svg#simplon_bpmedium) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: oiTextBold;
  src: url(../fonts/simplon/simplonbp-bold-webfont.eot);
  src: url(../fonts/simplon/simplonbp-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/simplon/simplonbp-bold-webfont.woff) format("woff"), url(../fonts/simplon/simplonbp-bold-webfont.ttf) format("truetype"), url(../fonts/simplon/simplonbp-bold-webfont.svg#simplon_bpbold) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: oiTextLight;
  src: url(../fonts/simplon/simplonbp-light-webfont.eot);
  src: url(../fonts/simplon/simplonbp-light-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/simplon/simplonbp-light-webfont.woff) format("woff"), url(../fonts/simplon/simplonbp-light-webfont.ttf) format("truetype"), url(../fonts/simplon/simplonbp-light-webfont.svg#simplon_light) format("svg");
  font-weight: 400;
  font-style: normal; }
  
.logo-menu{
    width: 300px;
    padding: 40px 40px;
}

.logo-nav{
    width: 150px;
}

.hamburguer{
    color: #9e9e9e;!important
}

.topo{
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
    padding:  0;
}

.logo{
    width: 220px;
}

hr{
    color: rgba(158,158,158,0.3);
}

.paragrafo-rodape{
    color: #9e9e9e;
}

h2{
	font-family:oiTitle;
    font-size: 20px; !important
    line-height: 50px;
}

.bullet-nav{
    width: 50px;
}

.bullets{
    margin-top: 50px;
    margin-bottom: 0px;
}

h2{
    margin-top: 10px; !important
}
.menu{
    margin-top: 30px;
}
.logo-principal{
    margin-top: 20px;
    margin-bottom: 10px;
}

#btn-back{
    background-color: #000; !important
}