{% extends "site/base.twig" %}

{% block content %}

    <style>

        #send-login {
            background:#6E2A92;
        }


    </style>

    <div class="container">

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s12 flow-text" id="titulo"> Por favor informe seus dados para prosseguir com o seu atendimento.</div>
                </div>
            </div>
        </div>

        <form id="form-login" method="post" action="/info/login">

            <div class="row">
                <div class="input-field col s4 hide-on-small-only">&nbsp;</div>
                <div class="input-field col s12 m4 l4">
                    <input id="user" name="user" type="text" class="validate" />
                    <label for="user" class="font">Usuário</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s4 hide-on-small-only">&nbsp;</div>
                <div class="input-field col s12 m4 l4">
                    <input type="password" id="password" name="password" class="validate">
                    <label for="password" data-error="E-mail inválido" class="font">Senha</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s4 hide-on-small-only">&nbsp;</div>
                <div class="col s12 m4 l4">
                    <button class="btn-large waves-effect " type="submit"
                            name="action" id="send-login">Acessar</button>

                </div>
            </div>

        </form>

    </div>

    {% endblock %}

    {% block footer %}
        {{ parent() }}

        <script>

            function sendLogin()
            {
                var user = $('#user').val();
                var password = $('#password').val();

                if(user == '' || password == '') {
                    alert('Informe o usuário e senha.');
                } else {
                    $('#form-login').submit();
                }
            }

            $(function() {

                $('#send-login').bind('click', function(e) {
                    e.preventDefault();
                    sendLogin();
                });
            });

        </script>

    {% endblock %}

