{% extends "site/base.twig" %}

{% block content %}

    <div class="page-content">

        <div class="mdl-grid">
            <div class="mdl-cell--2-offset-desktop mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
                <div class="caixa">
                    <h5>Acesso Atendimento.</h5>
                </div>
            </div>

        </div>
    </div>


{% endblock %}

{% block footer %}
    {{ parent() }}

{% endblock %}