{% extends "admin/base.twig" %}

{% set page_title = 'negocie com rapidez e segurança.' %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block content %}

    <ol class="breadcrumb bc-3" >
        <li>
            <a href="/admin/execute/"><i class="fa-home"></i>API</a>
        </li>

        <li class="active">
            <strong>Executar API</strong>
        </li>
    </ol>

    <table class="table table-bordered table-striped datatable" id="table-2">
        <thead>

        <tr class="replace-inputs" role="row">
            <th rowspan="1" colspan="1">

                <span class="filter_column filter_text">
                    <input type="text" value="" id="cpf_cnpj" name="cpf_cnpj"
                           class="text_filter search_init search-field" placeholder="CPF" style="width: 200px;float: left;"></span>
                &nbsp;&nbsp;

                <a href="" class="btn btn-primary btn-rounded" onclick="return searchDoc();">
                    <div class="iconsweets-magnifying iconsweets-white"></div>  &nbsp; Buscar
                </a>

            </th>
        </tr>
        </thead>
    </table>



    {{ contentGerarToken }}


    <div class="paging">
    </div>
    <br/>

{% endblock %}


{% block footer %}
    {{ parent() }}

    <script>

        function searchDoc()
        {
            var par = jQuery('#cpf_cnpj').val()
            if (par != '') {
                window.location.href = '/admin/execute/start/' + par
            }
            return false
        }

    </script>

{% endblock %}