<html>
<head>
    <title>Oi Pague Fácil{% if page_title is defined %} | {{ page_title }}  {% endif %}</title>
    <meta name="description" content="Conheça o Oi Pague Fácil: aproveite para negociar de maneira rápida e segura." />

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/" />

    <script>
        dataLayer = [{{ data_layer|raw }}];
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ gtm_code }}');</script>

    <!-- End Google Tag Manager -->

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="imagens/icon-app-192.png" />
    <link rel="icon" sizes="128x128" href="imagens/icon-app-128.png" />
    <link rel="apple-touch-icon" sizes="128x128" href="imagens/icon-app-128.png" />
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="imagens/icon-app-128.png" />

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/materialize.min.css">


    <link rel="stylesheet" href="css/app/style{{ style_random }}.css">
    <link rel="stylesheet" href="css/app/load-modal.css">

    {% block head %}
    {% endblock %}

</head>

<body>
{% if constant('PROD') == true  %}
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ gtm_code }}"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager -->
{% endif  %}
{% spaceless %}

{% include 'site/model-alert.twig' %}
{% include 'site/top.twig' %}

{% block content %}dasds{% endblock %}


{% block footer %}

    <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vendor/materialize.min.js"></script>
    <script type="text/javascript" src="js/script.min.js"></script>

{% endblock %}

{% if app.session.get('oper')   %}
    {% include "site/options.twig" %}
{% endif %}

<span id="last-element"></span>
{% endspaceless %}
</body>

</html>
