
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oi Pague Fácil</title>
    <meta name="description" content="Negocie com a Oi de maneira rápida e segura." />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICONES  -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/img/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/animate.css" type="text/css" rel="stylesheet" media="screen,projection">
    <style>
        .logo-inicio{
            width: 300px;
            margin-top: 120px;
        }

        body{
            background-image: url(img/back-img-Oi-min.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        h1{
            font-size: 30px; !important
        }

        .rodape p{
            color: #fff;!important
        }

        .navegation-bullet .bullets_s{
            width: 350px;
            margin-top: 25px;
        }

        h1{
            font-family:oiTitle;
            font-size: 25px; !important
        line-height: 45px;
            margin-bottom: 0px;
        }
        h2{
            font-family: roboto;
            margin-top: 10px;
            line-height: 40px;

        }

        .acesse{
            margin-bottom: 40px;
        }
        .background{
            padding-bottom: 30px;
        }
        .rodape{
            height: 30px;
        }

        @media (max-width: 600px){
            .logo-inicio{
                width:250px;!important
            }
            /*.logo-inicio{
                margin-left: 10px;!important
            }*/
            .navegation-bullet .bullets_s{
                width: 200px; !important
            }
            /*.navegation-bullet .bullets_s{
                margin-left: 45px; !important
            }*/
            h1{
                line-height: 35px; !important
            }
        }
    </style>

    <script>
        dataLayer = [];
    </script>

    {% if constant('PROD') == true  %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ gtm_code }}');</script>

        <!-- End Google Tag Manager -->
    {% endif  %}
</head>
<body>
<section class="background">
    <header>
        <div class="row">
            <div class="col l6 offset-l6 s4 offset-s1 fadeInUp">
                <img src="img/logo_Oi.png" alt="Logo_Oi" class="logo-inicio animated fadeInUp">
            </div>
        </div>
    </header>
    <div class="navegation-bullet animated fadeInLeft">
        <div class="row">
            {#<div class="col l6 offset-l6 s8 offset-s3">#}
                {#<img src="img/steps.png" alt="Bullet-de-Navegacao" class="bullets_s">#}
            {#</div>#}
        </div>
    </div>

    <div class="row">
        <div class="col l6 offset-l6 s10 offset-s1">
            <h1 class="animated fadeInRight">SEJA BEM-VINDO AO OI PAGUEFÁCIL</h1>
        </div>
    </div>
    <div class="row">
        <div class="col l6 offset-l6 s10 offset-s1 animated fadeInDown">
            <h2>Praticidade e comodidade para você<br>renegociar seus débitos com a Oi de maneira<br>rápida e segura.</h2>
        </div>
    </div>
    <div class="acesse animated fadeInUp">
        <div class="row">
            <div class="col l3 offset-l6 btn-large waves-effect waves-light yellow accent-4 black-text botao-acessar s10 offset-s1"
            onclick="window.location.href='/acesso'">ACESSE AGORA</div>
        </div>
    </div>
</section>

<!--<footer class="rodape">
  <hr>
   <div class="container">
       <div class="row">
           <div class="col l8 offset-l2 s10 offset-s1">
               <p class="paragrafo-rodape">© Todos os direitos reservados - Oi Pague Fácil </p>
           </div>
       </div>
   </div>
</footer>-->

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="js/init.js"></script>
<script type="text/javascript">
    window.onload = function() {
        Materialize.showStaggeredList('#staggered-test');
        Materialize.fadeInImage('#fade-1')
    };
</script>
<script type="text/javascript">
    // Initialize collapse button
    $(".button-collapse").sideNav();
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    //$('.collapsible').collapsible();
</script>
</body>
</html>