<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>OI Pague Fácil</title>
    <meta name="description" content="Conheça o Oi Pague Fácil: aproveite para negociar de maneira rápida e segura." />

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="mobile-web-app-capable" content="yes">

    <base href="/" />

    <link rel="icon" type="image/png" sizes="192x192"  href="/img/icons/128-min.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/icons/192-min.png">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <script>
        dataLayer = [{{ data_layer|raw }}];
    </script>

    {% if constant('PROD') == true  %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ gtm_code }}');</script>

    <!-- End Google Tag Manager -->
    {% endif  %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="css/app/load-modal.css" />

    {% block head %}
    {% endblock %}

</head>
<body>

{% include 'site/model-alert.twig' %}

<main>
<section class="topo">
    <div class="container">
        <div class="row">
            <div class="col l2">
                <div class="menu">

                    <!-- MENU LATERAL -->
                    <ul id="slide-out" class="side-nav">
                        <li><img src="img/logo_Oi.png" class="logo-menu"></li>
                        <li><a class="waves-effect" href="/enter/menu"><i class="material-icons">home</i>HOME</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="/contact"><i class="material-icons">headset_mic</i>ATENDIMENTO</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="waves-effect" href="/logoff"><i class="material-icons">exit_to_app</i>SAIR</a></li>
                    </ul>
                </div>
                <div class="icone-menu">
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="small material-icons hamburguer">menu</i></a>
                </div>
                <!-- FIM MENU LATERAL -->

            </div>

            <!-- LOGO OI -->
            <div class="col l8 center s9">
                <div class="logo-principal">
                    <a href="#"><img src="img/logo_Oi.png" alt="" class="logo"></a>
                </div>

            </div>
            <!-- FIM DO LOGO -->

        </div>
    </div>
</section>


{% block content %}{% endblock %}

</main>

<footer class="rodape">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col l8 offset-l2 s10 offset-s1">
                <p class="paragrafo-rodape">© Todos os direitos reservados - Oi Pague Fácil </p>
            </div>
        </div>
    </div>
</footer>

{% block footer %}

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/app/functions-v1.js"></script>
<script type="text/javascript" src="js/app/app-v3.js"></script>

<script src="js/init.js"></script>
<script type="text/javascript">
    window.onload = function() {
        Materialize.showStaggeredList('#staggered-test');
        Materialize.fadeInImage('#fade-1')
    };
</script>
<script type="text/javascript">
    // Initialize collapse button
    $(".button-collapse").sideNav();
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    //$('.collapsible').collapsible();
</script>

{% endblock %}