<div id="block-screen"></div>

<div id="loading" >
    <img src="img/6171D935167798CA.png" style="width: 226px" />
    <br/>
    <img src="imagens/loader.gif" style="width: 60px" />
</div>

<div class="responsive-modal-message z-depth-1" id="message-box" role="dialog" style="display:none;">

    <div class="row">
        <br/>
        <p id="message-text"></p>
        <div class="row" id="message-close">
            <div class="col l11 m11 s6">
                <input type="button"
                       class="col l6 offset-l2 s10 offset-s1 m12 btn-large waves-effect yellow accent-4 black-text" style="width: 40%;    margin-left: 34%;" value="Fechar" />
            </div>
        </div>
    </div>

</div>