
<style type="text/css">

    .title-top {
        margin-left: -72px;
        margin-top: 12px;
    }

    @media screen and (max-width: 1200px) {
        .responsive-modal-cpf {
            position: absolute;
            border:1px solid #CCC;
            top:30%;
            width: 80%;
            margin-left:10%;
            margin-right: 10%;
            background: #FFF;
            display:none;
            z-index:10000;
        }

        .responsive-modal-cpf  h2 {
            font-size: 56px;
            text-align: center;
        }

        .responsive-modal-cpf .form-control {
            border-radius: 0 !important;
            padding: 1%;
            height: 108px;
            margin-top: 25px;
            font-size: 50px;
        }
    }

    @media screen and (min-width: 1201px) {
        .responsive-modal-cpf {
            position: absolute;
            border: 1px solid #CCC;
            top: 30%;
            width: 30%;
            margin-left: 35%;
            margin-right: 10%;
            background: #FFF;
            display: none;
            z-index: 10000;
        }

        .responsive-modal-cpf  h2 {
            font-size: 36px;
        }

        .responsive-modal-cpf .form-control {
            border-radius: 0 !important;
            padding: 1%;
            height: 42px;
            margin-top: 13px;
            margin-bottom: 10px;
            font-size: 30px;
        }

        .responsive-modal-cpf .form-control-btn {
            border-radius: 0 !important;
            padding: 0%;
            height: 47px;
            margin-top: 0px;
            font-size: 31px;
        }

        .bottomcontent {
            height: 46%;
            width: 100%;
            font-size: 15px;
            padding-left: 3%;
            padding-top: 4px;
        }

    }

    #send-cpf{
        background:#6E2A92;
        width: 100%;
    }

    #link-access {
        left: 0;
        top: 35%;
        position: fixed;
        width: 198px;
        height: 130px;
        padding-top: 30px;
        z-index: 900;
        background: #6e2a92;
    }

    #link-access a {
        color:white;
        font-size:14px
    }

    input.option {
        font-size:20px;
    }
</style>

<script>

    function sendCpf()
    {
        var cpf = $('#cpf_select').val();

        if(cpf != '' && validateCPF(cpf)) {
            showLoading();

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/info/select-cpf",
                data: {cpf:cpf},
                success: function (data) {

                    if(data.status) {

                        showLoadingFunction(function() {
                            document.location.href = '/enter/options';
                        });

                        return true;
                    }

                    $('#inform_cpf').show();
                    hideLoading();

                    alert(data.message);
                },
                error: function (data, req) {
                    console.log('Error:');
                    console.log(data);
                }
            });
        } else {
            alert('Informe um CPF válido!');
        }

    }

    $(function() {

        $('#form_cpf_select input').keydown(function(e) {
            if (e.keyCode == 13) {
                sendCpf();
            }
        });


        $('.info-cpf').click(function(e) {
            e.preventDefault();

            $('#inform_cpf').show();
            $('#block-screen').show();

            return false;
        });

        $('.logoff').click(function() {
            window.location.href='/logoff';
        });

        $('#send-cpf').click(function() {
            sendCpf();
        });

        $('#close-cpf').click(function() {
            $('#inform_cpf').hide();
            $('#block-screen').hide();

        });
    });

</script>

<div id="link-access">
    <input type="button" class="info-cpf option" value="INFORMAR CPF" />
    <br/><br/>
    <input type="button" class="logoff option" value="SAIR" />
</div>

<div class="responsive-modal-cpf" id="inform_cpf" role="dialog">

    <div class="col-md-12">
        <div>
            <form id="form_cpf_select" method="post">

                <input type="text" class="form-control" placeholder="CPF"
                       name="cpf_select" id="cpf_select" value="" />

                <input type="button" class="form-control form-control-btn btn-danger"
                       name="send-cpf" id="send-cpf" value="Enviar" />
                <br/>

                <input type="button" id="close-cpf" value="FECHAR" />

            </form>
        </div>
        <div></div>

    </div>
</div>