<nav  style="margin:0; padding:0;">
    <div class="nav-wrapper card-panel red accent-4 center" id="nav"  style="margin:0; padding:0;">

        {% if logon == true %}
        <ul id="slide-out" class="side-nav menu card-panel grey lighten-4">
            <li class="tituloMenu"><img src="imagens/icon-app-192.png" /></li>
            <li class="menu"><a href="/" class="menu"><span class="glyphicon glyphicon-home" style="font-size:1.5em;"></span> &nbsp; HOME</a></li>
            <li class="menu"><a href="{{ contact_menu }}"><span class="glyphicon glyphicon-headphones" style="font-size:1.5em;"></span> &nbsp; ATENDIMENTO</a></li>
            <li class="menu"><a href="/logoff"><span class="glyphicon glyphicon-log-out" style="font-size:1.5em;"></span> &nbsp; SAIR</a></li>
        </ul>

        <a href="" data-activates="slide-out" class="button-collapse show-on-large" onclick="return false;"><i class="material-icons">menu</i></a>
        {% end if %}

        <div id="logoSky"> <img src="imagens/oi.png" style="width:172px; margin-top: 9px;"></div>

    </div>

</nav>