@font-face {
  font-family: oiTitle;
  src: url(../fonts/simplon/simplonoi-headline-webfont.eot);
  src: url(../fonts/simplon/simplonoi-headline-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/simplon/simplonoi-headline-webfont.woff) format("woff"), url(../fonts/simplon/simplonoi-headline-webfont.ttf) format("truetype"), url(../fonts/simplon/simplonoi-headline-webfont.svg#simplon_oiheadline) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: oiTextRegular;
  src: url(../fonts/simplon/simplonbp-regular-webfont.eot);
  src: url(../fonts/simplon/simplonbp-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/simplon/simplonbp-regular-webfont.woff) format("woff"), url(../fonts/simplon/simplonbp-regular-webfont.ttf) format("truetype"), url(../fonts/simplon/simplonbp-regular-webfont.svg#simplon_bpregular) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: oiTextMedium;
  src: url(../fonts/simplon/simplonbp-medium-webfont.eot);
  src: url(../fonts/simplon/simplonbp-medium-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/simplon/simplonbp-medium-webfont.woff) format("woff"), url(../fonts/simplon/simplonbp-medium-webfont.ttf) format("truetype"), url(../fonts/simplon/simplonbp-medium-webfont.svg#simplon_bpmedium) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: oiTextBold;
  src: url(../fonts/simplon/simplonbp-bold-webfont.eot);
  src: url(../fonts/simplon/simplonbp-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/simplon/simplonbp-bold-webfont.woff) format("woff"), url(../fonts/simplon/simplonbp-bold-webfont.ttf) format("truetype"), url(../fonts/simplon/simplonbp-bold-webfont.svg#simplon_bpbold) format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: oiTextLight;
  src: url(../fonts/simplon/simplonbp-light-webfont.eot);
  src: url(../fonts/simplon/simplonbp-light-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/simplon/simplonbp-light-webfont.woff) format("woff"), url(../fonts/simplon/simplonbp-light-webfont.ttf) format("truetype"), url(../fonts/simplon/simplonbp-light-webfont.svg#simplon_light) format("svg");
  font-weight: 400;
  font-style: normal; }

.logo-menu{
    width: 300px;
    padding: 40px 40px;
}

.logo-nav{
    width: 150px;
}

.hamburguer{
    color: #9e9e9e;!important
}

.topo{
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
    padding:  0;
}

.logo{
    width: 180px;
}

.paragrafo-rodape{
    color: #9e9e9e;
}

h2{
	font-family:oiTitle;
    font-size: 20px; !important
}

.bullet-nav{
    width: 50px;
}

.bullets{
    margin-top: 50px;
    margin-bottom: 0px;
}

h2{
    margin-top: 10px; !important
}
.menu{
    margin-top: 25px;
}
.logo-principal{
    margin-top: 20px;
    margin-bottom: 10px;
}
.info-cpf{
    margin-bottom: 10px;
}
.form-cpf{
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    line-height: 30px; !important
}
.rodape{
    bottom:0;
    width:100%;
}
.rodape{
    font-size: 12px; !important
}
.rodape p {
    color: #9e9e9e; !important
}
hr{
    height: 1px;
    border: none;
    border-top: 1px
    solid #e4e4e4;
}
.info-email{
    margin-bottom: 0px;
}
.botoes{
    margin-top: 10px;
    margin-bottom: 100px;
    position: relative
}
p{
    font-size: 14px; !important
}
.btn-back{
  margin-bottom: 20px; !important
}
.paragrafo-rodape{
    font-size: 10px; !important
}
p{
    margin-bottom: 0px; !important
}

h2{
    margin-bottom: 0px; !important
}
.text-info{
    margin-bottom: 50px; !important
}
.nome-usuario{
    margin-top: 30px;
}
h6{
    font-size: 18px;!important
}
.main-boleto{
    margin-bottom: 50px;
}
.button-table{
    padding-top: 60px;
}
.bullet-nav{
    margin-right: 10px;
}
a{
    color: #9e9e9e; !important
}
a{
    text-decoration: underline; !important
}
h4{
    font-size: 12px;!important
}
h4{
    line-height: 20px; !important
}
.pagamento{
    margin-bottom: 40px;
}
.botao {
    text-align: center;
    padding: 10px;
    min-height: 120px;
    width: 100%;
    text-transform: none;
    margin: 0.75rem 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 20px; !important
  }

.botao p {
    line-height: 0;
    margin: 0 0 15px 0;
    text-align: center;
}

.data-pagamento{
  margin-bottom: 20px;
}
.input-data{
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  margin: 10px 0;
  border: 1px solid #cecece;
}

.pull-up {
    margin-top: 1em;
    display: block;
}

.pull-down {
    margin-bottom: 1em;
}

.espacamento {
    margin-bottom: 30px;
}

.margin-r {
    margin-right: 10px;
}

.purple-modal, .white-modal {
    padding:15px;
    color: #fff;
    overflow: visible;
    width: 30%;
}

@media (max-width: 600px)  {
    .purple-modal, .white-modal {
        width: 90% !important;
    }
    .purple-modal h3 {
        font-size: 1.2em !important;
    }
}

.purple-modal h3 {
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-align : center;
    font-size: 1.7em;
    line-height: 2em;
}

.purple-modal .close, .white-modal .close {
    position: absolute;
    top: -10px;
    right: -10px;
}

.yellow-box {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 15px;
    width: 100%;
    border: 0;
}

.yellow-box img {
    width: 32px;
    height: 32px;
}
