<!DOCTYPE html>
<html>
<head>
    <title>Boleto</title>

    <base href="{{ path_template }}" />

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">

    <style>
        table td {
            padding-right:5px;
            padding-left:5px;
            font-size: 14px;
            color:#616161  ;
        }
        span{
            color:#E4327E;
        }
        .paddingTd{
            padding-bottom:20px;
        }
        .codBarras{
            padding:5px;
            font-size:16px;
        }
        .tabelaValores{
            padding:5px;
            text-align: center;
            color:#E4327E;
        }
        .font{
            font-size: 10px;
        }
        .nameDev{
            font-size: 16px;
            padding-top:2%;
            color:#E4327E;
        }
        .valorAtualizado{
            border:1px solid black;
            color:#E4327E;
            padding:15px;
            text-align:center;
        }
        .desconto{
            border:1px solid #F26F1F;
            background: #F26F1F;
            padding:15px;
            color:#FFF;
            text-align:center;
        }

    </style>

</head>
<body>

<div class="container">

    <div class="col-md-12 centered divPrincipal" style="padding:0; margin:0;">
        <table width="100%" border="0" >
            <tr>
                <td style="padding:0; margin:0;"><img src="imagem/Oi.png" width="" height="auto"></td>
            </tr>
            <table width="100%" border="0" >
                <tr>
                    <td class="nameDev">{{ cliente_nome }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                        Identificamos uma pendência em seu nome.<br /> Confira os detalhes:
                    </td>
                </tr>
                <tr>
                    <td><br />
                        <table style="text-align: center">
                            <tr>
                                <td>VENCIDO EM</td>
                                <td>VALOR</td>
                                <td>CONTRATO</td>
                            </tr>
                            <tr>
                                <td class="tabelaValores">{{ vencimento_original }}</td>
                                <td class="tabelaValores">{{ valor_boleto }}</td>
                                <td class="tabelaValores">{{ contrato }}</td>
                            </tr>
                            <tr>
                                <td ><b>TOTAL</b></td>
                                <td class="tabelaValores"><b>{{ valor_boleto }}</b></td>
                                <td class="tabelaValores"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><br /><br />
                        Para fazer de um jeito mais fácil e rápido, já trazemos uma proposta de pagamento e o novo boleto abaixo.
                    </td>
                </tr>
                <tr style="padding:0; margin:0;">

                    <td valign="center">

                        <br/><br/>
                        <table>
                            <tr>
                                <td class="valorAtualizado">
                                    VALOR ATUALIZADO<BR />
                                    {{ valor_boleto }}
                                </td>

                                <!--
                                <td>&nbsp;</td>

                                <td style="width: 200px" class="valorAtualizado">
                                    DESCONTO:<BR /><br />
                                    R$371,84 <br />

                                </td>

                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>

                                <td class="desconto">
                                    COM DESCONTO, AGORA VOCÊ PAGA:
                                    ENTRADA: R$ 0 MAIS 1 VEZ(ES) DE R$ 62,72
                                </td>
                                -->

                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>

                                <td class="valorAtualizado">
                                    VENCIMENTO DA PROPOSTA: <BR />
                                    {{ vencimento }}
                                </td>

                            </tr>

                        </table>

                    </td>
                </tr>


                <tr>
                    <td><hr size="1" style="border:2px solid #616161;"></td>
                </tr>


                <!--
                <tr>
                    <td><br />
                        Caso já tenha efetuado o pagamento, por favor, desconsidere esta carta.<br /><br />
                        <b>IMPORTANTE:</b> o pagamento do boleto pode ser feito em qualuqer estabelecimento autorizado [bancos, casas lotéricas, e outros].
                        Caso opte em fazer o pagamento numa casa lotérica, basta informar seu contrato. Se você já fez o(s) pagamentos(s), por favor, desconsidere esta carta
                    </td>

                </tr>
                -->

                <tr>
                    <td><br />
                        <!--
                        Se você tiver alguma dúvida, ligue para <span>0800 XXX XXXX ou mande um email para xxxxx@xxxxxxx.com.</span>
                        Nosso horário de atendimento é de segunda à sexta das 08h às 20h e Sábado das 08h às 14h.
                        <span>NOME DO ESCRITÓRIO DE COBRANÇA</span> - empresa autorizada para execução de cobrança dos débitos em
                        atraso da Oi.<br />
                        -->
                        O(s) valore(s) pode(m) levar até 5 (cinco) dias para ser(em) recebido(s) pela Oi.
                    </td>
                </tr>

                <tr>
                    <td class="font" >
                        “Em aquisição de produto e serviço da Oi, após quitação, a Oi regularizará apenas a situação referente ao débito descrito nessa carta.”
                    </td>
                </tr>


            </table>
            <hr size="1" style="border:2px dashed #616161;">

            <table width="70%" border="1" style="margin-left:5px;">
                <tr>
                    <td class="paddingTd">Nome:{{ cliente_nome }}</td>
                    <td class="paddingTd">Contrato: {{ contrato }}</td>
                    <td class="paddingTd">Valor: {{ valor_boleto }}</td>
                </tr>
                <tr>
                    <td colspan="3" class="codBarras" style="padding:5px; font-size:16px">
                        {{ linha_digital }}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <br>
                        <img src="{{ codigo_barra_img }}" style="margin-left: 30px;" />
                        <br><br>
                    </td>
                </tr>
            </table>

    </div>

</div>
</body>
</html>