
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Services AG">
    <meta name="author" content="Services">

    <title>OI Pague Fácil | Admin</title>

    <link rel="icon" sizes="192x192" href="imagens/icon-app-192.png" />
    <link rel="icon" sizes="128x128" href="imagens/icon-app-128.png" />
    <link rel="apple-touch-icon" sizes="128x128" href="imagens/icon-app-128.png" />
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="imagens/icon-app-128.png" />

    <link href="/imagens/icon-app-192.png" rel="shortcut icon" type="image/vnd.microsoft.icon">

    <base href="/" />
    <link rel="stylesheet" href="assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/neon-core.css">
    <link rel="stylesheet" href="assets/css/neon-theme.css">
    <link rel="stylesheet" href="assets/css/neon-forms.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script>$.noConflict();</script>

    <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body class="page-body login-page login-form-fall" data-url="http://neon.dev">


<!-- This is needed when you send requests via Ajax -->
<script type="text/javascript">
    var baseUrl = '/admin';
</script>

<div class="login-container">

    <div class="login-header login-caret">

        <div class="login-content">

            <a href="/" class="logo">
                <img src="imagens/icone-app-VIVO.png" style="height: 178px;" alt="" />
            </a>

            <p class="description">Acesso administrativo!</p>

            <!-- progress bar indicator -->
            <div class="login-progressbar-indicator">
                <h3>43%</h3>
                <span>buscando dados...</span>
            </div>
        </div>

    </div>

    <div class="login-progressbar">
        <div></div>
    </div>

    <div class="login-form">

        <div class="login-content">

            <div class="form-login-error">
                <h3>Login inválido</h3>
                <p>Informe seu e-mail e senha.</p>
            </div>

            <form method="post" name="login" id="form_login">

                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-user"></i>
                        </div>
                        {#<input type="email" name="email" id="email" placeholder="e-mail&#x20;de&#x20;acesso" class="form-control" autocomplete="off" value="">#}
                        <input type="text" class="form-control" name="username" id="username"
                        placeholder="usuário" autocomplete="off" />
                    </div>

                </div>

                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-key"></i>
                        </div>
                        <input type="password" name="password" id="password" placeholder="senha" class="form-control" autocomplete="off" value="">
                        <!--<input type="password" class="form-control" name="password" id="password"
                                    placeholder="Password" autocomplete="off" />-->
                    </div>

                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-login">
                        <i class="entypo-login"></i>
                        Acessar
                    </button>
                </div>

            </form>
            <div class="login-bottom-links" style="display:none;">

                <a href="extra-forgot-password.html" class="link">Forgot your password?</a>

                <br />

                <a href="#">ToS</a>  - <a href="#">Privacy Policy</a>

            </div>

        </div>

    </div>

</div>

<!-- Bottom scripts (common) -->
<script src="assets/js/gsap/main-gsap.js"></script>
<script src="assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/joinable.js"></script>
<script src="assets/js/resizeable.js"></script>
<script src="assets/js/neon-api.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/neon-login.js"></script>

<!-- JavaScripts initializations and stuff -->
<script src="assets/js/neon-custom.js"></script>


<!-- Demo Settings -->
<script src="assets/js/neon-demo.js"></script>

</body>
</html>