{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

    {% block head %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endblock %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">

            <div class="main">
                <div class="row">
                    <div class="col l4 offset-l2 left s10 offset-s1">
                        <h2>VAMOS CONFIRMAR SEUS DADOS PARA LIBERAR A CONSULTA.</h2>
                    </div>
                </div>

                <form id="send-step">
                    <div class="info">
                        <div class="row">
                            <div class="col l6 offset-l2 s10 offset-s1">
                                <h6>Digite o CPF ou CNPJ*</h6>
                            </div>
                        </div>

                        <div class="row">
                            <form>
                                <div class="input-field col l6 offset-l2 s10 offset-s1 form-cpf">
                                    <input name="cpf" id="cpf" type="text" class="validate" pattern="\d*" maxlength="14" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                    <label for="cpf" data-error="CPF/CNPJ inválido.">Apenas números</label>
                                </div>
                            </form>
                        </div>

                        <div class="row">
                            <div class="col l6 offset-l2 s10 offset-s1">
                                <form action="#">
                                    <p>
                                        <input type="checkbox" name="accept-terms" id="accept-terms" />
                                        <label for="accept-terms">Eu concordo com os <strong><a class="modal-trigger" href="#modal1">Termos de Uso do Portal</a> Oi Pague Fácil</strong></label>
                                    </p>
                                </form>
                                <!-- Modal Structure -->
                                <div id="modal1" class="modal col l4">
                                    <div class="modal-content">
                                        <h2>Termos e Condições do Portal de Cobrança</h2>
                                        <hr>
                                        <h4 class="modal-paragrafo">Ao efetuar uma consulta no Portal de Cobrança da Oi, você concorda em receber
                                            os documentos de cobrança de forma digital, através do endereço de e-mail previamente cadastrado.
                                            Para visualizar sua cobrança e efetuar o pagamento, é necessário entrar no endereço
                                            <strong>www.portalcobranca.com.br</strong> e informar seu CPF para conferência. É de sua responsabilidade manter
                                            seu endereço de correio eletrônico atualizado, disponível e apto a receber as comunicações da Oi sobre sua cobrança.</h4>
                                    </div>
                                    <div class="modal-footer center">
                                        <a href="#" onclick="return closeModel()" class="modal-action modal-close">Eu aceito os termos de uso descritos acima</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if is_recaptcha %}
                        <div class="row">
                            <div class="input-field col s12 m1 l3"></div>
                            <div class="input-field col s12 m10 l4">
                                <center>
                                    <div class="g-recaptcha" data-sitekey="6LdRTSYUAAAAADdcMJ6H6kvdg36FNbc0yvFfDkva"></div>
                                </center>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </form>
            </div>

            <!--BUTTON-->
            <div class="botoes">
                <div class="row ordem">
                    <div class="col l3 offset-l2 left s10 offset-s1 m12 btn-large waves-effect waves-light white black-text btn-back" onclick="window.location.href='/'">VOLTAR</div>
                    <div class="col l3 s10 offset-s1 m12 btn-large waves-effect waves-light yellow accent-4 black-text" id="next-step">CONTINUAR</div>
                </div>
            </div>
            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->

{% endblock %}

{% block footer %}
    {{ parent() }}

    <script type="text/javascript" src="/js/app/access/access.js"></script>

    <script>
        $(function () {

            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();

            $( "#cpf" ).on( "keyup", function(e) {
                if(e.which == 13) {
                    $('#next-step').click()
                }
            });
        });

        function closeModel()
        {
            jQuery( "#accept-terms" ).prop( "checked", true )
            $('#modal1').modal('close');
            return false;
        }

    </script>

{% endblock %}