{% extends "site/base-open.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

{% endblock %}

{% block footer %}
    {{ parent() }}

    <script type="text/javascript" src="/js/app/access/login-v1.js"></script>

{% endblock %}