{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}



{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">
            <div class="bullets">
                <div class="row">
                    <div class="col l6 offset-l2 s10 offset-s1">
                        <img src="img/bullet_03.png" alt="bullet" class="bullet-nav">
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="row">
                    <div class="col l4 offset-l2 left s10 offset-s1">
                        <h2>QUASE LÁ! VAMOS<br> ATUALIZAR SEU CADASTRO.</h2>
                    </div>
                </div>
                <div class="info-email">
                    <div class="row">
                        <div class="col l6 offset-l2 s10 offset-s1">
                            <h6>Informe seu e-mail</h6>
                        </div>
                    </div>

                    <form id="send-step">
                    <div class="row">
                            <div class="input-field col l6 offset-l2 s10 offset-s1  form-cpf">
                                <input type="text" id="email" name="email" class="validate" />
                                <label for="email">Digite seu e-mail</label>
                            </div>

                    </div>
                    <div class="row">
                        <div class="col l6 offset-l2 s10 offset-s1">
                            <h6>Digite seu telefone</h6>
                        </div>
                    </div>

                    <div class="row">

                            <div class="input-field col l6 offset-l2 s10 offset-s1 form-cpf">
                                <input type="text" id="phone" name="phone" class="validate" />


                                <label for="phone">DDD + número</label>
                            </div>
                    </div>
                    </form>

                </div>

                <!--BUTTON-->
                <div class="botoes">
                    <div class="row ordem">
                        <div class="col l3 offset-l2 left s10 offset-s1 m12 btn-large waves-effect waves-light white black-text btn-back" onclick="window.location.href='/passo-2'">VOLTAR</div>
                        <div class="col l3 s10 offset-s1 m12 btn-large waves-effect waves-light yellow accent-4 black-text" id="next-step">CONTINUAR</div>
                    </div>
                </div>

                <!--FIM DO BUTTON-->
            </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->


{% endblock %}

{% block footer %}
    {{ parent() }}

    {#<script type="text/javascript" src="/js/vendor/jquery.maskedinput.js"></script>#}
    <script type="text/javascript" src="/js/vendor/jquery.mask.js"></script>
    <script type="text/javascript" src="/js/app/access/step-3.2.js"></script>

    <script>

        function closeModal()
        {
            $('.modal').modal('close')
            return false
        }

        $(function () {
            $('.paragrafo-rodape').bind('click', function() {
                $('#email').val('mendes.fabio@servicescobrancas.com.br')
                $('#phone').val('(41) 4545-2525')
            })
        })

    </script>

{% endblock %}