{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">
            <div class="bullets">
                <div class="row">
                    <div class="col l6 offset-l2 s10 offset-s1">
                        <img src="img/bullet_02.png" alt="bullet" class="bullet-nav">
                    </div>
                </div>
            </div>

            <form id="send-step">
            <div class="main">
                <div class="row">
                    <div class="col l4 offset-l2 left s10 offset-s1">
                        <h2>AGORA VAMOS VALIDAR SEU ACESSO.</h2>
                    </div>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="col l6 offset-l2 s10 offset-s1">
                            <h6>Informe sua data de nascimento*</h6>
                        </div>
                    </div>

                    <div class="row">
                        <form>
                            <div class="input-field col l6 offset-l2 s10 offset-s1  form-cpf">
                                <input type="text" class="validate" id="date" name="date" />
                                <label for="date">Apenas números</label>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            </form>

            <!--BUTTON-->
            <div class="botoes">
                <div class="row ordem">
                    <div class="col l3 offset-l2 s10 offset-s1 m12 btn-large waves-effect waves-light white black-text btn-back" onclick="window.location.href='/passo-1'">VOLTAR</div>
                    <div class="col l3 s10 offset-s1 m12 btn-large waves-effect waves-light yellow accent-4 black-text" id="next-step">CONTINUAR</div>
                </div>
            </div>
            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->

{% endblock %}

{% block footer %}
    {{ parent() }}

    <script type="text/javascript" src="/js/vendor/jquery.mask.js"></script>
    <script type="text/javascript" src="/js/app/access/step-2.2.js"></script>

    <script>
        $(function () {

            $( "#date" ).on( "keyup", function(e) {
                if(e.which == 13) {
                    $('#next-step').click()
                }
            });

            $('.paragrafo-rodape').bind('click', function() {
                $('#date').val('16/05/1981')
            })
        });

    </script>

{% endblock %}