{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

    {% block head %}
        {#<script src='https://www.google.com/recaptcha/api.js'></script>#}
    {% endblock %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">
        <div class="container">
            <div class="bullets">
                <div class="row">
                    <div class="col l6 offset-l2 s10 offset-s1">
                        <img src="img/bullet.png" alt="bullet" class="bullet-nav">
                    </div>
                </div>
            </div>

            <div class="main">
                <div class="row">
                    <div class="col l4 offset-l2 left s10 offset-s1">
                        <h2>VAMOS CONFIRMAR SEUS DADOS PARA LIBERAR A CONSULTA.</h2>
                    </div>
                </div>

                <form id="send-step">
                <div class="info">
                    <div class="row">
                        <div class="col l6 offset-l2 s10 offset-s1">
                            <h6>Digite o CPF ou CNPJ*</h6>
                        </div>
                    </div>

                    <div class="row">
                        <form>
                            <div class="input-field col l6 offset-l2 s10 offset-s1 form-cpf">
                                <input name="cpf" id="cpf" type="text" class="validate" pattern="\d*" maxlength="14" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                <label for="cpf" data-error="CPF/CNPJ inválido.">Apenas números</label>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m1 l4"></div>
                        <div class="input-field col s12 m10 l4">
                            <center>
                                <div class="g-recaptcha" data-sitekey="6LdRTSYUAAAAADdcMJ6H6kvdg36FNbc0yvFfDkva"></div>
                            </center>
                        </div>
                    </div>

                </div>
                </form>
            </div>

            <!--BUTTON-->
            <div class="botoes">
                <div class="row ordem">
                    <div class="col l3 offset-l2 left s10 offset-s1 m12 btn-large waves-effect waves-light white black-text btn-back" onclick="window.location.href='/'">VOLTAR</div>
                    <div class="col l3 s10 offset-s1 m12 btn-large waves-effect waves-light yellow accent-4 black-text" id="next-step">CONTINUAR</div>
                </div>
            </div>
            <!--FIM DO BUTTON-->

        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->

{% endblock %}

{% block footer %}
    {{ parent() }}

    <script type="text/javascript" src="/js/app/access/step-1.2.js"></script>

    <script>
        $(function () {

            $( "#cpf" ).on( "keyup", function(e) {
                if(e.which == 13) {
                    $('#next-step').click()
                }
            });
        });

    </script>

{% endblock %}