{% extends "site/base.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}

{% block content %}

    <!--SESSAO DE CONTEUDO-->
    <section class="conteudo">

        <div class="container">

            <div class="bullets">
                <div class="row">
                    <div class="col l6 offset-l2 s10 offset-s1">
                        <p><img src="img/bullet_03.png" alt="bullet" class="bullet-nav">Atualização concluída</p>
                    </div>
                </div>
            </div>

            <div class="main">

                <div class="row">
                    <div class="col l4 offset-l2 left s10 offset-s1">
                        <h2>PERFEITO! SEU ACESSO JÁ ESTÁ DISPONÍVEL.</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col l6 offset-l2 s10 offset-s1">
                        <form action="#">
                            <p>
                                <input type="checkbox" name="accept-terms" id="accept-terms" />
                                <label for="accept-terms">Eu concordo com os <strong><a class="modal-trigger" href="#modal1">Termos de Uso do Portal</a> Oi Pague Fácil</strong></label>
                            </p>
                        </form>
                        <!-- Modal Structure -->
                        <div id="modal1" class="modal col l4">
                            <div class="modal-content">
                                <h2>Termos e Condições do Portal de Cobrança</h2>
                                <hr>
                                <h4 class="modal-paragrafo">Ao efetuar uma consulta no Portal de Cobrança da Oi, você concorda em receber
                                    os documentos de cobrança de forma digital, através do endereço de e-mail previamente cadastrado.
                                    Para visualizar sua cobrança e efetuar o pagamento, é necessário entrar no endereço
                                    <strong>www.portalcobranca.com.br</strong> e informar seu CPF para conferência. É de sua responsabilidade manter
                                    seu endereço de correio eletrônico atualizado, disponível e apto a receber as comunicações da Oi sobre sua cobrança.</h4>
                            </div>
                            <div class="modal-footer center">
                                <a href="#" onclick="return closeModel()" class="modal-action modal-close">Eu aceito os termos de uso descritos acima</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--BUTTON-->
            <div class="botoes-ac">
                <div class="row ordem">
                    <div class="col l3 offset-l2 s10 offset-s1 m12 btn-large waves-effect waves-light white black-text btn-back" onclick="window.location.href='/passo-3'">VOLTAR</div>
                    <div class="col l3 s10 offset-s1 m12 btn-large waves-effect waves-light yellow accent-4 black-text" id="next-step">CONTINUAR</div>
                </div>
            </div>
            <!--FIM DO BUTTON-->
        </div>
    </section>
    <!--FIM DA SESSAO DE CONTEUDO-->

{% endblock %}

{% block footer %}
    {{ parent() }}

    <script type="text/javascript" src="/js/app/access/terms.js"></script>

    <script type="text/javascript">

        function closeModel()
        {
            jQuery( "#accept-terms" ).prop( "checked", true )
            $('#modal1').modal('close');
            return false;
        }

        $(document).ready(function(){
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
    </script>

{% endblock %}