{% extends "site/base.twig" %}

{% set page_title = 'Confirmar CPF' %}

{% block head %}
    {{ parent() }}

    <style>
        #slide-out {
            display:none;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            <form id="form-confirm">

            <div class="col s12">
                <h4 class="row">
                    <h4 class="center">
                    Prezado cliente<br/>
                        {{ client.NomeConsumidor }},<br/>
                    confirme os 4 dígitos faltantes do
                        seu CPF, para prosseguir.</h4>
                </div>
                <div class="row">
                    <div class="col s1 m1 l4 flow-text hide-on-small-only">&nbsp;</div>
                    <div class="col s12 m11 l7 flow-text">

                        <div class="input-field col s5 m5 l3" style=" padding:0; margin:0;">
                            <input name="confirm-partial-start" id="confirm-partial-start"
                                   type="text" class="validate text-right" pattern="\d*"
                                   maxlength="7" value="{{ client.DocumentoConsumidorStart }}" style="font-size:16px;" disabled />
                        </div>

                        <div class="input-field col s2 m1 l1 center-align" id="divTraco"
                             style="padding:0; margin:0;"> - </div>

                        <div class="input-field col s5 m5 l3" style=" padding:0; margin:0;">
                            <input id="confirm-partial-doc" name="confirm-partial-doc"
                                   type="text" class="validate" pattern="\d*" maxlength="4"
                                   value="" style="font-size:16px;" />
                        </div>
                    </div>

                </div>
            </div>

            </form>

        </div>

        <div class="row">
            <div class="input-field col s4 m4 l4 hide-on-small-only">&nbsp;</div>
            <div class="col s12 m4 l4">
                <button class="waves-effect waves-light btn send-form" type="submit" name="action" id="cadastrar">Cadastrar</button>

            </div>
        </div>
    </div>


{% endblock %}


{% block footer %}
    {{ parent() }}
    <script type="text/javascript" src="/js/app/access/confirm-doc-v1.js"></script>
{% endblock %}

