{% extends "site/base-new.twig" %}
{% set page_title = 'negocie com rapidez e segurança.' %}



{% block content %}

    <style>

        body {
            overflow:hidden;
        }
        p {
            margin: 0 0 5px;
        }

        .block-chat {
            margin-top: 10px;
            height: 90%;
        }

        .controls {
            height: 10%;
            width: 90%;
            background: #FFF;
            border: 1px solid #CCC;
            border-radius: 5px;
            z-index: 100;
            position: absolute;
            bottom: 10px;
        }

        #templates {
            display:none;

        }

        textarea.materialize-textarea {
            resize: none;
            height: 100px;
            background: #E8F5E9;
        }

        /****************
            Messages
         ****************/
        .messages {
            height: 85%;
            overflow: scroll;
        }

        .message-left, .message-right {
            border:1px solid #CCC;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        .message-left {
            text-align: left;
            width: 70%;

            background: #E8F5E9;
        }

        .message-right {
            text-align: left;
            width: 70%;
            margin-left: 30%;
            background: #6e2a92;
            color:#FFF;
        }

        .message-name {

        }

        .message-content {

            padding: 5px;
            font-size: 13px;
            line-height: 19px;
            cursor: text;

        }

        h5, h6 {
            font-family: 'OfficinaSerifStd-Book', sans-serif;
             margin: 2px;
             color: #6e2a92;
        }

    </style>

    <div class="container">


        <div class="row">
            <div class="col block-chat">
                <div class="messages">

                    {#<div class="message-left left-align">#}
                        {#<p class="message-content">Boa tarde José, para prosseguir com seu atendimento digite os últimos 4 dígitos de seu CPF (0344059****).</p>#}
                    {#</div>#}

                    {#<div class="message-right left-right">#}
                        {#<p class="message-content">4128</p>#}
                    {#</div>#}

                    {#<div class="message-left left-align">#}
                        {#<p class="message-content">Obrigado. José, Não identificamos o pagamento da fatura com vencimento em 09/09/2016. O Contrato é o 456878467 e o valor atualizado é de R$ 32,80.</p>#}
                    {#</div>#}

                    {#<div class="message-left left-align">#}
                        {#<p class="message-content">#}
                            {#Digite o número de uma das opções para prosseguir:<br/>#}
                            {#1 - PAGAMENTO ATÉ AMANHÃ<br/>#}
                            {#2 - AGENDAR PAGAMENTO<br/>#}
                            {#3 - JÁ REALIZEI O PAGAMENTO<br/>#}
                            {#4 - ATENDIMENTO<br/>#}
                        {#</p>#}
                    {#</div>#}


                    {#<div class="message-right left-right">#}
                        {#<p class="message-content">1</p>#}
                    {#</div>#}

                    {#<div class="message-left left-align">#}
                        {#<p class="message-content">#}
                            {#Registramos informação em nosso sistema! <br />#}
                            {#Digite o número de uma das opções para receber seu boleto:<br/>#}
                            {#1 - DOWNLOAD<br/>#}
                            {#2 - E-MAIL<br/>#}
                            {#3 - SMS<br/>#}
                        {#</p>#}
                    {#</div>#}

                    {#<div class="message-right left-right">#}
                        {#<p class="message-content">1</p>#}
                    {#</div>#}

                    {#<div class="message-left left-align">#}
                        {#<p class="message-content">#}
                            {#Registramos a informação em nosso sistema!<br />#}
                            {#<a href="#">Faça download do boleto</a><br/>#}
                        {#</p>#}
                    {#</div>#}

                </div>

                <div class="controls">

                    <div class="input-field col s9">

                        <input placeholder="Mensagem..." name="message" id="message" type="text" />
                    </div>

                    <div class="input-field col s3">
                        <i class="material-icons right" id="send-message">send</i>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div id="template-message-left">
        <div class="message-left left-align" id="message_[id]">
            <p class="message-content">[message]</p>
        </div>
    </div>

    <div id="template-message-right">
        <div class="message-right left-right">
            <p class="message-content">[message]</p>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ parent() }}

    <script type="text/javascript" src="/js/app/chat/page.js"></script>

{% endblock %}