@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700');

body  { font-family: 'Open Sans ', sans-serif; text-align: center;}


h4{
    font-size: 24px;
    color: #F3288C;
    text-align: left;
}

td, th {
    padding: 0;
}

.btn{
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    background-color: #F3288C;
    width: 94%;
    margin: 5px 0;

}

.steps{
    margin: 40px 0;
}

.btn:hover, .btn-large:hover {
    text-decoration: none;
    color: #fff;
    background-color: #8f25e5;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

.checkbox-pink[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #F3288C;
     background-color: #F3288C;
}

.steps-home li{
    border: 1px #ffffff solid;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 20px 2%;
    line-height:100px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.steps-desactive{
    display: inline-block;
    border: 1px #F3288C solid;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 20px 0;
    line-height:60px;
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: #F3288C;
}

.connection{
    border: 0px;
    border-radius: 0;
    border-bottom: 2px solid #F3288C;
    margin: -4px;
    margin-bottom: 10px;
    display: inline-block;
    width: 40px;
}

.steps-active{
    display: inline-block;
    border: 1px #F3288C solid;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 20px 0;
    line-height:60px;
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: #ffffff;
    background-color: #F3288C;
}

.formulario{
    margin-top: 50px;
}

p{
    text-align: left;
    font-size: 1.2em;
}


.contract h4{
    margin: 0 0 20px 0;
}

.margem {
    margin-top: 40px;
}

.detail{
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
}

nav {height: 100px;}
.heading-1 img{ width: 240px; margin: 20px 0; }
.heading-1 { 

  background: #F3288C; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-45deg, #F3288C, #A02BFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-45deg, #F3288C, #A02BFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-45deg, #F3288C, #A02BFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-45deg, #F3288C, #A02BFF); /* Standard syntax */
}

.botao {
  text-align: center;
  padding: 10px;
  min-height: 120px;
  width: 100%;
  text-transform: none;
  margin: 0.75rem 0;
    background: #F3288C; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-45deg, #F3288C, #A02BFF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-45deg, #F3288C, #A02BFF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-45deg, #F3288C, #A02BFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-45deg, #ec2e80,#f14157);
}
.botao img {
  height: 64px;

}

.botao p{
  line-height:0;
  margin: 0 0 15px 0;
  text-align: center;
}

   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #F3288C;
     font-size: 20px !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #F3288C;
     box-shadow: 0 1px 0 0 #F3288C;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #F3288C;
     box-shadow: 0 1px 0 0 #F3288C;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
